app/migrations/*
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
media/*
static/*
db.sqlite3
certificate.crt
csr.csr
private.key
key.pem
cert.pem
ngrok.yml
celerybeat-schedule.dat
celerybeat-schedule.bak
celerybeat-schedule.dir