footer {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
        }

    .navbar-toggler {
      border: none;
      outline: none;
    }
    .navbar-toggler:focus {
      outline: none;
    }
    form-group input[type="text"],
    .form-group input[type="file"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
    }
    .map {
            height: 300px;
            height: 400px;
     }

    .socialaccount-providers {
      display: flex;
    }

    .socialaccount-provider {
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-right: 10px;
      padding: 5px;
      border-radius: 5px;
      /*background-color: #f2f2f2;*/
      color: #333;
    }

    /*.socialaccount-provider:hover {
      background-color: #ddd;
    }*/

    .provider-icon {
      /* Style the icon here, such as setting its size and color */
      margin-right: 5px;
    }

    .provider-name {
      font-weight: bold;
    }
    .hidden {
      display: none;
    }
    .tab-link {
      min-width: 220px; /* Adjust the width as needed */
      border-radius: 0;
    }

    .tabs {
      border-radius: 0.5rem;
    }

    .tab-content {
      border-bottom-left-radius: 8.5rem;
      border-bottom-right-radius: 8.5rem;
    }
    input[type="radio"]:checked + span {
      display: block;
    }
    .flex.grid.grid-flow-col.justify-center.space-x-4 li a {
        text-decoration: none; /* Remove underline by default */
    }

    .flex.grid.grid-flow-col.justify-center.space-x-4 li a:hover {
        text-decoration: none; /* Remove underline on hover */
    }





