<!DOCTYPE html>
{%load static%}

<html>
<head>
    {% block custom_css %}



    {% endblock %}


    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'assets/css/nucleo-icons.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'assets/css/nucleo-svg.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'assets/css/perfect-scrollbar.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'assets/css/soft-ui-dashboard-tailwind.css' %}"/>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript"  src="https://kit.fontawesome.com/c4dfba4734.js" crossorigin="anonymous"></script>
      <link href="{% static 'lib/css/emoji.css'%}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script type="text/javascript"  src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script type="text/javascript"  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"defer></script>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script type="text/javascript"  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Font Awesome Icons -->
    <script type="text/javascript"  src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous">

    </script>
    <style media="all" id="fa-v4-font-face">

    .close{
        width: 7rem !important;
    }

    .close li{
        justify-content: center;
    }

    .close .nav__item{
        display: none;
    }
    .cross{
        display:none !important;
    }
    .text-xxxs{
        font-size:0.6rem;
    }
    </style>

</head>
<body class="m-0 font-sans text-base antialiased font-normal leading-default bg-gray-100 text-slate-500 h-screen">

{%block bar%}

{%endblock%}

     <nav class="relative flex flex-wrap items-center justify-between px-0 py-2 mx-6 transition-all shadow-none duration-250 ease-soft-in rounded-2xl lg:flex-nowrap lg:justify-start">
        <div class="flex items-center justify-between w-full px-4 py-1 mx-auto flex-wrap-inherit">
            <div class="h-12 text-center relative">
                {% if user.is_authenticated %}
                <a href="{% url 'dashboard' %}" class="block px-2 py-2 m-0 text-lg whitespace-nowrap text-center text-slate-700 hover:no-underline hover:text-slate-700">
                    <span class="ml-1 font-semibold transition-all duration-200 ease-nav-brand">SMART PRESENCE</span>
                    <div class="absolute -right-2 text-xxs flex justify-end">
                        <span class="text-xxxs">Powered By</span>
                        <div class="w-20 h-4">
                            <img src="{% static 'assets/img/cloudwind.jpg'%}" id="logos" class="w-full h-full object-contain">
                        </div>

                    </div>
                </a>
                {% else %}
                <a href="{% url 'home' %}" class="block px-2 py-2 m-0 text-lg whitespace-nowrap text-center text-slate-700 hover:no-underline hover:text-slate-700">
                    <span class="ml-1 font-semibold transition-all duration-200 ease-nav-brand">SMART PRESENCE</span>
                </a>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
                <li class="relative list-none ml-auto">
                   <div class="flex" >
                       <div class="transition-all duration-200 ease-soft-in-out h-10 w-10 rounded-xl overflow-hidden mr-2">
                           {% if user.profile_image %}
                            <img src="{{ user.profile_image.url }}" class="w-full h-full object-cover" alt="user1" >
                            {% else %}
                            <img src="{% static 'image/default.png' %}" class="w-full h-full object-cover" alt="user1">
                            {% endif %}
                        </div>
                        <a class="cursor-pointer hover:no-underline hover:border-2 hover:border-black hover:text-gray-600" id="profile_dropdown_button">
                            <div class="flex items-center justify-between">
                                <p class="text-sm text-gray-600 font-semibold">{{user.username}}</p>
                                <i class="fa-solid fa-chevron-down mr-3"></i>
                            </div>
                            <p class="text-xs">{{user.email}}</p>
                        </a>


                    <ul class="hidden text-sm before:font-awesome before:leading-default before:duration-350 before:ease-soft lg:shadow-soft-3xl duration-250 min-w-44 before:sm:right-7.5 before:text-5.5  origin-top list-none absolute right-0 top-0 z-50 origin-top list-none rounded-lg border-0 border-solid border-transparent bg-white bg-clip-padding px-2 py-2 text-left text-slate-500 transition-all before:absolute before:right-0 before:left-auto before:top-0 before:z-50 before:inline-block before:font-normal before:text-white before:antialiased before:transition-all before:content-['\f0d8'] sm:-mr-6 lg:absolute lg:right-3 lg:left-auto lg:mt-2 lg:block lg:cursor-pointer before:-top-5 transform-dropdown-show" id="profile_dropdown" style="display:none;">
                        <li class="relative hover:bg-gray-100 rounded-lg duration-300 lg:transition-colors">
                            <a href = "{% url 'edit_user' %}" class="ease-soft py-1.2 clear-both block w-full whitespace-nowrap rounded-lg bg-transparent px-4 duration-300 hover:text-slate-700 lg:transition-colors hover:no-underline" href="javascript:;">
                              <div class="flex items-center">
                                  <i class="fa-solid fa-user-pen mr-2"></i>
                                    <p>Edit Profile</p>
                              </div>
                            </a>
                         </li>

                        <li class="relative hover:bg-gray-100 rounded-lg duration-300 lg:transition-colors">
                            <a href = "{% url 'logout' %}"
                                    class="ease-soft py-1.2 clear-both block w-full whitespace-nowrap rounded-lg bg-transparent px-4 duration-300 hover:text-slate-700 lg:transition-colors hover:no-underline" href="javascript:;">
                              <div class="flex items-center">
                                 <i class="fa-solid fa-right-from-bracket mr-2"></i>
                                    <p>Logout</p>
                              </div>
                            </a>
                         </li>
                    </ul>
                   </div>
               </li>
            {% else %}
            <div class="ml-auto flex">
                <li class="list-none">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="list-none">
                    <a class="nav-link" href="{% url 'register' %}">SignUp</a>
                </li>
            </div>
            {% endif %}

        </div>

    </nav>
<div class="w-full flex h-full">
    {% if user.is_authenticated %}



    <aside class="w-52 relative screen ease-nav-brand inset-y-10 ml-4 flex-wrap items-center justify-between overflow-y-auto rounded-xl border-0 bg-gray-800 p-0 antialiased shadow-none transition-transform duration-200 flex-wrap left-0 translate-x-0 top-0 " id="sidebar">

          <div class="w-full flex items-center justify-center">
            <ul class="space-y-2 m-2 w-full">

                {% if user.is_superuser == False %}
                <li class="p-1 block hover:bg-white  hover:text-white hover:bg-opacity-10 text-gray-100 cursor-pointer rounded my-3">
                    <a href="{% url 'my_profile' %}"
                    class="  flex items-center py-2 px-4 rounded space-x-2 hover:no-underline hover:text-white">
                    <div class="w-5">

                        <i class="fa-solid fa-user-large text-white"></i>
                    </div>
                        <span class="text-sm text-white">My Profile</span>
                    </a>
                    <hr class="h-px mt-0 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent"/>
                </li>

                <li class="p-1 block hover:bg-white hover:bg-opacity-10 text-gray-100 cursor-pointer rounded my-3">
                    <a href="{% url 'dashboard' %}"
                    class="flex items-center py-2 px-4 space-x-2 hover:no-underline hover:text-white">
                    <div class="w-5">
                        <i class="fa-solid fa-display text-white"></i>
                    </div>
                        <span class="text-sm">Dashboard</span>
                    </a>
                    <hr class="h-px mt-0 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent"/>
                </li>

                <li class="p-1 block hover:bg-white hover:bg-opacity-10 text-gray-100 cursor-pointer rounded my-3">
                    <a href="{% url 'my_posts' user.pk  %}"
                    class="flex items-center py-2 px-4 space-x-2 text-white hover:no-underline hover:text-white">
                        <div class="w-5">
                           <i class="fa-solid fa-images text-white"></i>
                        </div>
                        <span class="text-sm">Posts</span>

                    </a>
                    <hr class="h-px mt-0 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent"/>
                </li>
                <li class="p-1 block hover:bg-white hover:bg-opacity-10 text-gray-100 cursor-pointer rounded my-3">
                    <a href="{% url 'socialaccount_connections' %}"
                    class="flex items-center text-white py-2 px-4 space-x-2 hover:no-underline hover:text-white">
                        <div class="w-5">
                           <i class="fa-solid fa-briefcase text-white"></i>
                        </div>



                        <span class="text-sm text-white">Accounts</span>
                    </a>
                    <hr class="h-px mt-0 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent"/>
                </li>
                {% endif %}

                {% if user_role == 'ADMIN' %}
                <li class="p-1 block hover:bg-white hover:bg-opacity-10 text-gray-100 cursor-pointer rounded my-3">
                    <a href="{% url 'my_user' %}"
                    class="flex items-center py-2 px-4 space-x-2 hover:no-underline hover:text-white">
                        {% if user.is_superuser == True %}
                        <div class="w-5">
                          <i class="fa-solid fa-users-gear text-white"></i>
                        </div>
                        {% else %}
                        <div class="w-5">
                            <i class="fa-solid fa-users text-white"></i>
                        </div>
                        {% endif %}
                        <span class="text-sm">Users</span>
                    </a>
                    <hr class="h-px mt-0 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent"/>
                </li>
                {% endif %}

            </ul>

          </div>

    </aside>

    {%endif%}

    <main class="flex-1 relative">
       {% if user.is_authenticated %}
        {% block content %}
        <!-- Main content goes here -->
            {%endblock%}

        {% else %}
        {% block main%}
            {% endblock %}

        {% endif %}



    </main>
</div>




</body>

<script>





  const profileDropdownbutton = document.getElementById('profile_dropdown_button');
   const profileDropdown = document.getElementById('profile_dropdown');
   profileDropdownbutton.addEventListener('click', () => {
    if(profileDropdown.style.display == 'block'){
        profileDropdown.style.display = 'none';
       }else{
        profileDropdown.style.display = 'block';
       }
});



function closeModal(dialog){
    dialog.classList.remove('flex');
    dialog.classList.add('hidden');
}


function getFormattedDate(daysBefore = 0){
    let currentDate = new Date();
    const oneDay = daysBefore * 24 * 60 * 60 * 1000; // One day in milliseconds
    currentDate = new Date(currentDate - oneDay);
    const year = currentDate.getFullYear();
    const month = (currentDate.getMonth() + 1).toString().padStart(2, '0'); // Adding 1 to month because months are zero-indexed
    const day = currentDate.getDate().toString().padStart(2, '0');

    const formattedDate = `${year}-${month}-${day}`;
    return formattedDate;

}
</script>
<!-- plugin for scrollbar  -->
<script type="text/javascript"  src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
<!-- github button -->
<script type="text/javascript"  defer src="https://buttons.github.io/buttons.js"></script>
<script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
<script type="text/javascript"  src="https://unpkg.com/@popperjs/core@2"></script>
<!-- main script file  -->
<script type="text/javascript"  src="{% static 'assets/js/soft-ui-dashboard-tailwind.js' %}"></script>
<script type="text/javascript"  src="{% static 'assets/js/dropdown.js' %}" ></script>
<script type="text/javascript"  src="{% static 'assets/js/perfect-scrollbar.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/htmx.min.js' %}"></script>
<script type="text/javascript"  src="{% static 'assets/js/tooltips.js' %}" ></script>
<!--<script src="https://cdn.jsdelivr.net/npm/tw-elements@1.0.0/dist/tw-elements.min.js"></script>-->
<!-- must be include as static files -->
<script type="text/javascript"  src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</html>
