<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Presence</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/c4dfba4734.js" crossorigin="anonymous"></script>

</head>
<style>
    .bg-color{
        background-color: rgba(0,137,191,0.6)
    }
</style>
<body>
  <div class="w-full sm:h-screen min-h-screen flex overflow-hidden font-sans">

        <div class="sm:block hidden image-container relative w-1/2">
            <img src="{% static 'image/social_image_login.png'%}" alt="social-image" class="w-full h-full">
            <div class="bg-color absolute top-0 left-0 w-full h-full"></div>
        </div>

      {% block content %}
      {% endblock %}

  </div>

</body>
<script>
        const alertbox = document.querySelectorAll(".alert");

        if (alertbox.length > 0){
            alertbox.forEach( div => {
                const crossbutton = div.querySelector(".cross");

                crossbutton.addEventListener('click',function(){
                    div.style.display = "none";
                })
            });
        }
function togglePassword(id) {
  var x = document.getElementById(id);

  if (x) {
  let name = x.name
     const changepassword = document.getElementById(name);
    let icon = changepassword.previousElementSibling;
    if (x.type === "password") {

      x.type = "text";
      icon.classList = "fa-regular fa-eye"
    } else {
      x.type = "password";
      icon.classList = "fa-regular fa-eye-slash"
    }
  }
}



    </script>



</html>
</html>