{%extends 'registration/base.html'%}
{% load static %}
{% block content %}

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Demo: Show changes over time with Mapbox GL JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        height: 100vh;
        overflow: hidden;
      }

      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
      }

      h1 {
        font-size: 20px;
        line-height: 30px;
      }

      h2 {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
      }

      a1 {
        text-decoration: none;
        color: #2dc4b2;
      }

      #console {
        position: absolute;
        margin: 10px;
        width: 340px;
        z-index:4;
      }

      .session {
        margin-bottom: 20px;
      }

      .row {
        height: 12px;
        width: 110%;
      }

      .colors {
        background: linear-gradient(
          to right,
          #fad919,
          #fa9a33,
          #ff7605,
          #b45022,
          #8fa626,
          #267604,
          #e80202,
          #640707,
          #073003,
          #411150
        );
        margin-bottom: 5px;
      }

      .label {
        width: 10%;
        display: inline-block;
        text-align: center;
      }
      #menu {
      background: #fff;
      position: absolute;
      z-index: 1;
      top: 10px;
      right: 10px;
      border-radius: 3px;
      width: 120px;
      border: 1px solid rgba(0, 0, 0, 0.4);
      font-family: 'Open Sans', sans-serif;
      }

      #menu a {
      font-size: 13px;
      color: #404040;
      display: block;
      margin: 0;
      padding: 0;
      padding: 10px;
      text-decoration: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      text-align: center;
      }

      #menu a:last-child {
      border: none;
      }

      #menu a:hover {
      background-color: #f8f8f8;
      color: #404040;
      }

      #menu a.active {
      background-color: #3887be;
      color: #ffffff;
      }

      #menu a.active:hover {
      background: #3074a4;
      }
      .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      }
      .map-layer-toggle{
        width:44px;
        height:44px;
        line-height: 44px;
        background-image:url('{% static 'image/layers.png'%}');
         background-repeat: no-repeat;
        background-size:26px 26px;
        background-position:center;

      }
      #mapStyleList{
        list-style: none;
        padding: 0;
        margin: 0;
        opacity: 0;
        transform: translateX(-200px);
        transition: opacity 0.3s, transform 0.3s;
      }
      .show-list-item {
        transform: translateX(0) !important;
        opacity: 1 !important;
      }
    </style>
  </head>

  <body>
    <div id="map"></div>
    <nav id="menu"></nav>


    <div id="console" >
      <div class=" border-2 h-max w-full relative">
        <div class="flex items-center justify-center relative w-full">
          <i class="absolute left-3 fa-solid fa-magnifying-glass"></i>
          <input
              id="search"
              class="w-full py-2 px-9 pr-10bg-white text-sm focus:outline-none focus:border-none"
              type="text"
              placeholder="Search for a location.."
          />
        </div>
        <div class="suggestions-wrapper absolute border-2 w-full z-50 hidden">
          <ul class="suggestions bg-white text-sm px-6 py-2">

          </ul>
        </div>
      </div>
      <div class="bg-white mt-10 py-2 hidden" id="key">
        <div class="session px-4" >
          <h2>Key</h2>
          <div class="row colors text-xxs rounded-xl"></div>
          <div class="row labels">
            <div class="label text-xxs">0</div>
            <div class="label text-xxs">1</div>
            <div class="label text-xxs">2</div>
            <div class="label text-xxs">3</div>
            <div class="label text-xxs">4</div>
            <div class="label text-xxs">5</div>
            <div class="label text-xxs">6</div>
            <div class="label text-xxs">7</div>
            <div class="label text-xxs">8</div>
            <div class="label text-xxs">9</div>
          </div>
        </div>
        <div class="session px-4 hidden" id="scoring_slider">
          <h2>Score: <label id="score">0</label></h2>
          <input id="slider" class="row" type="range" min="0" max="9" step="1" value="0"/>
        </div>
      </div>

    </div>
    <div class="absolute top-28 rounded-md right-0 flex flex-col gap-2 bg-white px-4 py-2 text-xs hidden" id="ccfilter">
      <div class="flex items-center gap-2 text-center ">
        <input type="radio" value="all" class="ccfilter" name="stoggle" id="all" onchange="loadMap(event)" checked>
        <label for="all">All</label>
      </div>
      <div class="flex items-center gap-2 text-center">
        <input type="radio" value="pd" class="ccfilter" id="pd" name="stoggle" onchange="loadMap(event)">
        <label for="pd">Population Density</label>
      </div>
      <div class="flex items-center gap-2 text-center">
        <input type="radio" value="vehicle" class="ccfilter" id="vd" name="stoggle" onchange="loadMap(event)">
        <label for="vd">Vehicle</label>
      </div>

    </div>
    <div class="absolute left-0 flex items-start gap-3 justify-center" style="top: 50%;transform: translateY( 50% )">

          <a class="map-layer-toggle bg-white border-2 border-[#00000033] rounded-md" href="#" id="toggleList"></a>


          <ul id="mapStyleList" class="flex flex-col overflow-hidden p-2 bg-white border-2 border-[#00000033] rounded-md w-max">
            <div id="filters">
              <label for="clo06rtho008b01qx5xv04oe6" class="flex items-center text-xs">
                <input id="clo06rtho008b01qx5xv04oe6" type="radio" value="satellite" class="text-xs" name="rtoggle">
                <span class="ml-2 text-xs">Satellite Map</span>
              </label>
              <label for="clo04hvvs001001pgbi328gj6" class="flex items-center text-xs">
                <input id="clo04hvvs001001pgbi328gj6" type="radio" value="streets" class="text-xs" name="rtoggle">
                <span class="ml-2 text-xs">Street Map</span>
              </label>
              <label for="clo04hvvs001001pgbi328gj6" class="flex items-center text-xs">
                <input id="clo04hvvs001001pgbi328gj6" type="radio" value="pd" class="text-xs" name="rtoggle">
                <span class="ml-2 text-xs">Color Coded Map</span>
              </label>
            </div>

          </ul>

    </div>


    <script>
    document.addEventListener("DOMContentLoaded", function() {
            const toggleListButton = document.getElementById("toggleList");
            const myList = document.getElementById("mapStyleList");


            toggleListButton.addEventListener("click", (e) => {
            e.preventDefault();
                myList.classList.toggle("show-list-item");
            });
            document.addEventListener("click", (event) => {
                if (!myList.contains(event.target) && event.target !== toggleListButton && myList.classList.contains("show-list-item") ) {
                    myList.classList.toggle("show-list-item");
                }
            });

        });
    const bounds = [
  [ -8.667055, 18.776344], // Southwest coordinates (longitude, latitude)
  [11.999506, 37.115788] // Northeast coordinates (longitude, latitude)
];
    mapboxgl.accessToken = 'pk.eyJ1IjoicmVoYW4wMTAiLCJhIjoiY2p1MWppdzh1MDJjZzQ5cHY0bG80eDFjcCJ9.CiQmY8N2iAms6F1nj1Twew';
      const map = new mapboxgl.Map({
          container: 'map', // container ID

          style: 'mapbox://styles/rehan010/clo06rtho008b01qx5xv04oe6',
          center: [2.63238813336793,28.1632395923063], // starting position [lng, lat]
          zoom: 4, // starting zoom
          minZoom: 4, // Set the minimum zoom level
          maxZoom: 15,
          maxBounds: bounds


    });

    const loadMap = async (event) => {

      document.getElementById('slider').value = 0;
        document.getElementById('score').textContent = "0";

        var params = "all=true";
        if(event){
              const target = event.target
              params = "";
              params += `${target.value}="true"`;
        }

        try {
          const response = await fetch(`{% url 'map_ccfilter' %}?${params}`);
          if (!response.ok) {
            throw new Error('Failed to fetch GeoJSON data');
          }
          const layerIdToRemove = 'wilaya-layer'; // Replace with your layer ID

          if (map.getLayer(layerIdToRemove)) {
            map.removeLayer(layerIdToRemove);
          }

          var sourceIdToRemove = 'choropleth-source';
          if (map.getSource(sourceIdToRemove)) {
            map.removeSource(sourceIdToRemove);
          }
          const geojson = await response.json();


            map.addSource('choropleth-source', {
              type: 'geojson',
              data: geojson,
            });

            map.addLayer({
              id: 'wilaya-layer',
              type: 'fill',
              source: 'choropleth-source',
              paint: {
                'fill-color': [
                  'step',
                  ['get', 'score'],
                  'rgba(0, 255, 0, 0)',
                  1,
                  '#fa9a33',
                  2,
                  '#ff7605',
                  3,
                  '#b45022',
                  4,
                  '#8fa626',
                  5,
                  '#267604',
                  6,
                  '#e80202',
                  7,
                  '#640707',
                  8,
                  '#073003',
                  9,
                  '#411150',
                ],

                'fill-opacity': 0.6,
              },
            });

            scoring_slider.classList.remove('hidden');
            key.classList.remove('hidden');

            const popup = new mapboxgl.Popup({
              closeButton: false,
              closeOnClick: false
            });

            map.on('mouseenter', 'wilaya-layer', (e) => {
              // Change the cursor style as a UI indicator.
              map.getCanvas().style.cursor = 'pointer';

              var popupContent = "";

              // Access the GeoJSON properties
              const properties = e.features[0].properties;
              const name = properties.name;
              popupContent += `<strong>Name:</strong> ${name}<br>`
              const vehicle = properties.vehicle;
              popupContent += vehicle ? `<strong>Vehicle:</strong> ${vehicle}<br>` : '';
              const ISO = properties.ISO;
              popupContent += `<strong>ISO:</strong> ${ISO}<br>`
              const name_ar = properties.name_ar;
              popupContent += `<strong>Name (Arabic):</strong> ${name_ar}<br>`
              const special_vehicle = properties.special_vehicle;
              popupContent += special_vehicle ? `<strong>Special Vehicle:</strong> ${special_vehicle}<br>` : '';
              const density = properties.density;
              popupContent += density ? `<strong>Density:</strong> ${density}<br>` : '';
              const semi_truck = properties.semi_truck;
              popupContent += semi_truck ? `<strong>Semi Truck:</strong> ${semi_truck}<br>` : '';
              const motorcycle = properties.motorcycle;
              popupContent += motorcycle ? `<strong>Motorcycle:</strong> ${motorcycle}<br>` : '';
              const score = properties.score;
              popupContent += score ? `<strong>Score:</strong> ${score}<br>` : '';
              const trailer = properties.trailer;
              popupContent += trailer ? `<strong>Trailer:</strong> ${trailer}<br>` : '';
              const agricultural_tractor = properties.agricultural_tractor;
              popupContent += agricultural_tractor ? `<strong>Agricultural Tractor:</strong> ${agricultural_tractor}<br>` : '';
              const cleaning_truck = properties.cleaning_truck;
              popupContent += cleaning_truck ? `<strong>Cleaning Truck:</strong> ${cleaning_truck}<br>` : '';
              const percentage = properties.percentage;
              popupContent += percentage ? `<strong>Percentage:</strong> ${percentage}<br>` : '';
              const truck = properties.truck;
              popupContent += truck ? `<strong>Truck:</strong> ${truck}<br>` : '';
              const touring_car = properties.touring_car;
              popupContent += touring_car ? `<strong>Touring Car:</strong> ${touring_car}` : '';

              // Set the popup content with the GeoJSON properties


              popup.setHTML(popupContent).setLngLat(e.lngLat).addTo(map);

              popup.setHTML(popupContent).setLngLat(e.lngLat).addTo(map);

              // Listen to the zoom event and adjust popup size and font size

            });

            map.on('mouseleave', 'wilaya-layer', () => {
              map.getCanvas().style.cursor = '';
              popup.remove();
            });

        } catch (error) {
          console.error(error);
        }
      };
<!--      mapboxgl.accessToken = 'pk.eyJ1IjoicmVoYW4wMTAiLCJhIjoiY2p1MWppdzh1MDJjZzQ5cHY0bG80eDFjcCJ9.CiQmY8N2iAms6F1nj1Twew';-->
<!--      const map = new mapboxgl.Map({-->
<!--          container: 'map', // container ID-->

<!--          style: 'mapbox://styles/rehan010/cloe37zj8001d01qrgfbvb5xa',-->
<!--          center: [2.63238813336793,28.1632395923063], // starting position [lng, lat]-->
<!--          zoom: 4, // starting zoom-->
<!--          minZoom: 2, // Set the minimum zoom level-->
<!--          maxZoom: 15,-->


<!--      });-->

      map.addControl(new mapboxgl.NavigationControl());



      const layerList = document.getElementById('menu');
      const inputs = document.querySelectorAll('input[type=radio][name=rtoggle]');


      for (const input of inputs) {
          input.onclick = (layer) => {
              const layerId = layer.target.id;
              const key = document.getElementById('key');
              const scoring_slider = document.getElementById('scoring_slider');


              if (layer.target.value=='pd'){
                  loadMap();
                  document.getElementById('ccfilter').classList.remove('hidden')





              }else{
                  document.getElementById('ccfilter').classList.add('hidden')
                  scoring_slider.classList.add('hidden');
                  key.classList.add('hidden');


              }
              map.setStyle('mapbox://styles/rehan010/' + layerId);
          };
      }


      map.on('load', () => {

        var scoreSlider = document.getElementById('slider');
        var scoreValue = document.getElementById('score');

        scoreSlider.addEventListener('input', function (e) {
            var score = parseInt(e.target.value);

            // Filter the Wilaya features based on the selected score
            map.setFilter('wilaya-layer', ['>=', ['get', 'score'], score]);

            // Update the slider value display
            scoreValue.textContent = score;
        });

        map.addLayer({
            id: 'wilaya-layer',
            type: 'fill',
            source: 'your-wilaya-source', // Replace with your source
            paint: {
                'fill-color': [
                    'case',
                    ['<', ['get', 'score'], score], 'white', // Change to white if score is less
                    'blue' // Default color
                ],
                'fill-opacity': 0.7
            }
        });


        let filterScore = ['==', ['number', ['get', 'score']], 0];
        // update hour filter when the slider is dragged
        document.getElementById('slider').addEventListener('input', (event) => {
          const score = parseInt(event.target.value);
          // update the map
          filterScore = ['==', ['number', ['get', 'Score']], score];
          // update text in the UI
          document.getElementById('score').innerText = score;
        });

        document
          .getElementById('filters')
          .addEventListener('change', (event) => {
            const day = event.target.value;
            // update the map filter
            if (day === 'all') {
              filterDay = ['!=', ['string', ['get', 'Day']], 'placeholder'];
            } else if (day === 'weekday') {
              filterDay = [
                'match',
                ['get', 'Day'],
                ['Sat', 'Sun'],
                false,
                true
              ];
            } else if (day === 'weekend') {
              filterDay = [
                'match',
                ['get', 'Day'],
                ['Sat', 'Sun'],
                true,
                false
              ];
            } else {
              console.error('error');
            }
            map.setFilter('collisions', ['all', filterScore, filterDay]);
          });
      });

      map.on('idle', () => {
        // If these two layers were not added to the map, abort
        if (!map.getLayer('contours') || !map.getLayer('museums')) {
        return;
        }

        // Enumerate ids of the layers.
        const toggleableLayerIds = ['contours', 'museums'];

        // Set up the corresponding toggle button for each layer.
        for (const id of toggleableLayerIds) {
        // Skip layers that already have a button set up.
        if (document.getElementById(id)) {
        continue;
        }

        // Create a link.
        const link = document.createElement('a');
        link.id = id;
        link.href = '#';
        link.textContent = id;
        link.className = 'active';

        // Show or hide layer when the toggle is clicked.
        link.onclick = function (e) {
        const clickedLayer = this.textContent;
        e.preventDefault();
        e.stopPropagation();

        const visibility = map.getLayoutProperty(
        clickedLayer,
        'visibility'
        );

        // Toggle layer visibility by changing the layout object's visibility property.
        if (visibility === 'visible') {
        map.setLayoutProperty(clickedLayer, 'visibility', 'none');
        this.className = '';
        } else {
        this.className = 'active';
        map.setLayoutProperty(
        clickedLayer,
        'visibility',
        'visible'
        );
        }
        };

        const layers = document.getElementById('menu');
          layers.appendChild(link);
        }
      });



      let marker;

      function addMarker(coordinates) {

        if (marker) {
          marker.remove();
        }


        marker = new mapboxgl.Marker({ color: 'red' })
          .setLngLat(coordinates)
          .addTo(map);
      }
    const search = document.getElementById('search');

    function makeApiRequest(searchValue) {
      const access_token = 'pk.eyJ1IjoicmVoYW4wMTAiLCJhIjoiY2p1MWppdzh1MDJjZzQ5cHY0bG80eDFjcCJ9.CiQmY8N2iAms6F1nj1Twew';
      const bbox = '-8.667992,18.956237,11.994246,37.1692786';
      const proximity = '-73.990593,40.740121';

      // Construct the API request URL with the searchValue and bbox
      const url = `https://api.mapbox.com/geocoding/v5/mapbox.places/${searchValue}.json?country=dz&proximity=${proximity}&access_token=${access_token}&bbox=${bbox}`;
      const suggestionWrapper = document.getElementsByClassName('suggestions-wrapper')[0];
      const suggestionsWrapper = document.querySelector('.suggestions');
      suggestionsWrapper.innerHTML = ''; // Clear the suggestions

      if (!searchValue) {
        suggestionWrapper.classList.add('hidden');
        return; // Return if the input is empty
      }

      try {
        fetch(url)
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not OK');
            }
            return response.json();
          })
          .then(data => {

            if(data.features.length > 0){
              suggestionWrapper.classList.remove('hidden');
            }else{
             suggestionWrapper.classList.add('hidden');
            }
            const m_data = {
              features: data.features,
            };

            m_data.features.forEach((feature, index) => {
              const { place_name, center } = feature;

              // Create a suggestion item
              const suggestionItem = document.createElement('li');
              suggestionItem.classList = 'suggestion-item py-1';
              suggestionItem.dataset.index = index;

              // Create an anchor element for the suggestion
              const suggestionLink = document.createElement('a');
              suggestionLink.classList = 'cursor-pointer hover:no-underline hover:bg-gray-400 hover:text-gray-600';

              // Set a click event for the suggestion
              suggestionLink.addEventListener('click', (e) => {
                e.preventDefault();
                const clickedIndex = suggestionItem.dataset.index;
                const selectedLocation = m_data.features[clickedIndex];
                const [lng, lat] = selectedLocation.center;

                // Call a function to set the marker and center the map
                setMarkerAndCenter(lng, lat);
              });


              // Create elements for suggestion title and address
              const title = document.createElement('div');
              title.textContent = place_name;


              // Append title to the anchor element
              suggestionLink.appendChild(title);

              // Append the anchor element to the suggestion item
              suggestionItem.appendChild(suggestionLink);

              // Append the suggestion item to the suggestions wrapper
              suggestionsWrapper.appendChild(suggestionItem);
            });

            function setMarkerAndCenter(lng, lat) {
              // Remove the previous marker if it exists
              if (marker) {
                marker.remove();
              }

              // Create a new marker at the specified coordinates
              marker = new mapboxgl.Marker({ color: 'red' }).setLngLat([lng, lat]).addTo(map);

              // Center the map on the selected location
              map.setCenter([lng, lat]);
            }
          });
      } catch (error) {
        // Handle any errors here
        console.error(error);
      }
    }

    search.addEventListener('input', () => {
      const searchValue = search.value;

      if (searchValue.length > 2) {
        makeApiRequest(searchValue);
      }
      if (searchValue === ''){
            document.getElementsByClassName('suggestions-wrapper')[0].classList.add('hidden');
            const suggestionsWrapper = document.querySelector('.suggestions');
            suggestionsWrapper.innerHTML = '';
            marker.remove();
      }
    });


    </script>
  </body>
</html>

{%endblock%}