{%extends 'registration/base.html'%}

{%block bar%}
        <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">Fluid jumbotron</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
              </div>
        </div>
{%endblock%}

{% block content %}
    <h2>password reset link sent</h2>
        <div class="alert alert-light" role="alert">
                Reset link sent successfully
        </div>
{% endblock %}