{%extends 'registration/base.html'%}

{%block bar%}
<!--        <div class="jumbotron jumbotron-fluid">-->
<!--              <div class="container">-->
<!--                <h1 class="display-4">Fluid jumbotron</h1>-->
<!--                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>-->
<!--              </div>-->
<!--        </div>-->
{%endblock%}

{% block content %}
<div class="flex items-center justify-center " style="height: 80vh;">
    <div class="max-w-2xl w-full bg-white p-8 rounded-lg shadow-md">

        <h2 class="text-2xl font-semibold mb-6" role="alert">
               your password changed successfully
        </h2>
    </div>
</div>
{% endblock %}