{%extends 'registration/base.html'%}

{%block bar%}
        <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">Fluid jumbotron</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
              </div>
        </div>
{%endblock%}

{% block content %}
    <h2>Password Change</h2>

    <form method="post">
    {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-primary mb-2" value="Change">
    </form>

{% endblock %}