{% extends "registration/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Account Connections" %}{% endblock %}
{% block custom_css %}
<style>
    .borders{
        border: 1px solid black !important;
    }
    .cpb-2{
        padding-bottom:2rem !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="card bg-white text-gray-600 flex justify-between  p-3 rounded-2xl mx-4">
        <h4 class="text-md font-bold mb-2 border-b-4 border-yellow-300">Connect Business Account</h4>
        <span class="text-sm text-gray-500">{{page_count}}/50 Accounts Connected</span>
</div>
<br>
<div class="mx-4 flex items-start pt-12 justify-center min-h-screen bg-gray-200 rounded-2xl">


    <div class="container w-100 mx-auto ">

        <form method="post" action="{% url 'socialaccount_connections' %}">
            {% csrf_token %}
            <fieldset>
                {% if form.non_field_errors %}
                <div class="error-msg">{{ form.non_field_errors }}</div>
                {% endif %}
                <div class="flex flex-wrap justify-center  items-center  gap-32">
                       <div class="card bg-gray-200 border-0 w-1/3 social-container">
                            <div class="relative ">
                                <!-- Logo -->
                                <div class=" provider-icon mx-auto relative -my-6">
                                    <img src="{% static '\assets\img\Social-Logos\facebook_logo.png'%}" alt="Connect Facebook" title="Connect Facebook" class="h-16 w-18 bg-gray-200 mx-auto border-2 rounded-full border-gray-200">
                                </div>
                                    <div class="bg-white p-4 rounded-3xl shadow-lg " >
                                    <br>
                                    <h4 class="text-md text-center  mb-4 border-b-2 border-blue-300 pb-1">Facebook</h4>
                                        {% if facebook %}
                                   <div class="text-center text-blue-500 text-sm w-full flex item-center justify-between">
                                        <a href="{% url 'social_profile' %}?provider_name={{ facebook.provider }}" class="no-underline hover:no-underline ml-32">Connected</a>
                                        <i class="fa-solid self-end fa-trash-can sm:text-base text-gray-600 text-sm cursor-pointer modal-button"></i>
                                   </div>

                                         {% else %}
                                        <div class="text-center text-blue-500 text-sm">
                                                {% include "socialaccount/snippets/provider_list.html" with process="connect" provider=facebook_app.name|lower %}
                                        </div>
                                        {% endif %}
                                </div>
                            </div>
                           <div class="main-modal fixed w-full h-100 inset-0 z-50 overflow-hidden flex justify-center items-center animated fadeIn faster"
                                            style="background: rgba(0,0,0,.7);display: none;">
                                <div
                                    class="border border-teal-500 shadow-lg modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                                    <div class="modal-content py-2 text-left px-6">
                                        <!--Title-->
                                        <div class="flex justify-between items-center pb-3">
                                            <p class="text-2xl font-bold">Remove Account</p>
                                            <div class="modal-close cursor-pointer z-50">
                                                <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                    viewBox="0 0 18 18">
                                                    <path
                                                        d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                                                    </path>
                                                </svg>
                                            </div>
                                        </div>
                                        <!--Body-->
                                        <hr class="bg-150 bg-gradient-to-tl from-gray-900 to-slate-800">
                                            <div class="py-4">
                                                <p>Are you sure you want to remove account?</p>
                                            </div>
                                        <hr class="bg-150 bg-gradient-to-tl from-gray-900 to-slate-800">
                                        <!--Footer-->
                                        <div class="flex justify-end pt-2">
                                            <div
                                                    class="focus:outline-none modal-close px-4 p-2 mb-2 borders border-solid rounded-lg shadow-none cursor-pointer border-black text-black">
                                                    <span>Cancel</span>

                                                </div>


                                            <label for="id_account_{{ facebook.id }}" class="focus:outline-none px-4 bg-150 bg-gradient-to-tl from-gray-900 to-slate-800 hover:shadow-soft-xs active:opacity-85 hover:scale-102 tracking-tight-soft bg-x-25 no-underline hover:no-underline p-2 ml-3 rounded-lg text-white mb-2">
                                                <input type="submit" name="account" id="id_account_{{ facebook.id }}"
                                                    value="{{ facebook.id }}" class="absolute h-0 w-0 appearance-none"/>

                                                    <span>Confirm</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                           </div>
                       </div>
                       <div class="card bg-gray-200 border-0 w-1/3 social-container">
                            <div class="relative">
                                <div class="provider-icon  mx-auto  relative -my-6">
                                    <img src="{% static 'assets/img/Social-Logos/instagram_logo.png' %}" alt="Connect Instagram" title="Connect Instagram" class="h-16 w-18 bg-gray-200 mx-auto border-4 rounded-full border-gray-200">
                                </div>
                                <div class="bg-white p-4 rounded-3xl shadow-lg">
                                    <br>
                                    <h4 class="text-md text-center mb-4 border-b-2 border-blue-300 pb-1">Instagram</h4>
                                    {% if instagram and facebook  %}
                                   <div class="text-center text-blue-500 text-sm w-full flex item-center justify-between">
                                        <a href="{% url 'social_profile' %}?provider_name={{ instagram.provider }}" class="no-underline hover:no-underline ml-32">Connected
                                        </a>
                                       <i class="fa-solid self-end fa-trash-can sm:text-base text-gray-600 text-sm cursor-pointer modal-button"></i>
                                    </div>
                                    {% elif instagram %}
                                   <div class="text-center text-blue-500 text-sm w-full flex item-center justify-between">
                                        <a href="#" class="no-underline hover:no-underline ml-32">Connected
                                        </a>
                                       <i class="fa-solid self-end fa-trash-can sm:text-base text-gray-600 text-sm cursor-pointer modal-button"></i>
                                    </div>
                                    {% else %}
                                    <div class="text-center text-blue-500 text-sm">
                                         {% include "socialaccount/snippets/provider_list.html" with process="connect" provider=instagram_app.name|lower %}

                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                           <div class="main-modal fixed w-full h-100 inset-0 z-50 overflow-hidden flex justify-center items-center animated fadeIn faster"
                                            style="background: rgba(0,0,0,.7);display: none;">
                                <div
                                    class="border border-teal-500 shadow-lg modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                                    <div class="modal-content py-2 text-left px-6">
                                        <!--Title-->
                                        <div class="flex justify-between items-center pb-3">
                                            <p class="text-2xl font-bold">Remove Account</p>
                                            <div class="modal-close cursor-pointer z-50">
                                                <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                    viewBox="0 0 18 18">
                                                    <path
                                                        d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                                                    </path>
                                                </svg>
                                            </div>
                                        </div>
                                        <!--Body-->
                                        <hr class="bg-150 bg-gradient-to-tl from-gray-900 to-slate-800">
                                            <div class="py-4">
                                                <p>Are you sure you want to remove account?</p>
                                            </div>
                                        <hr class="bg-150 bg-gradient-to-tl from-gray-900 to-slate-800">
                                        <!--Footer-->
                                        <div class="flex justify-end pt-2">
                                            <div
                                                    class="focus:outline-none modal-close px-4 p-2 mb-2 borders border-solid rounded-lg shadow-none cursor-pointer border-black text-black">
                                                    <span>Cancel</span>

                                                </div>


                                            <label for="id_account_{{ instagram.id }}" class="focus:outline-none px-4 bg-150 bg-gradient-to-tl from-gray-900 to-slate-800 hover:shadow-soft-xs active:opacity-85 hover:scale-102 tracking-tight-soft bg-x-25 no-underline hover:no-underline p-2 ml-3 rounded-lg text-white mb-2">
                                                <input type="submit" name="account" id="id_account_{{ instagram.id }}"
                                                    value="{{ instagram.id }}" class="absolute h-0 w-0 appearance-none"/>

                                                    <span>Confirm</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                           </div>
                       </div>
                       <div class="card bg-gray-200 border-0 w-1/3 social-container">
                            <div class="relative">
                                <div class="provider-icon  mx-auto  relative -my-6">
                                    <img src="{% static '\assets\img\Social-Logos\linkedin_logo.png'%}" alt="Connect Linkedin" title="Connect Linkedin" class="h-16 w-18 bg-gray-200 mx-auto border-4 rounded-full border-gray-200">
                                </div>
                                <div class="bg-white p-4 rounded-3xl shadow-lg">
                                    <br>
                                    <h4 class="text-md text-center mb-4 border-b-2 border-blue-300 pb-1">Linkedin</h4>
                                    {% if linkedin_oauth2 %}
                                   <div class="text-center text-blue-500 text-sm w-full flex item-center justify-between">
                                        <a href="{% url 'social_profile' %}?provider_name={{linkedin_oauth2.provider}}" class="no-underline hover:no-underline ml-32">Connected</a>
                                         <i class="fa-solid self-end fa-trash-can sm:text-base text-gray-600 text-sm cursor-pointer modal-button"></i>
                                   </div>
                                    {% else %}
                                     <div class="text-center text-blue-500 text-sm">
                                    {% include "socialaccount/snippets/provider_list.html" with process="connect" provider=linkedin_oauth2_app.name|lower %}
                                     </div>
                                     {% endif %}
                                </div>
                            </div>

                            <div class="main-modal fixed w-full h-100 inset-0 z-50 overflow-hidden flex justify-center items-center animated fadeIn faster"
                                style="background: rgba(0,0,0,.7);display: none;">
                                <div
                                    class="border border-teal-500 shadow-lg modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                                    <div class="modal-content py-2 text-left px-6">
                                        <!--Title-->
                                        <div class="flex justify-between items-center pb-3">
                                            <p class="text-2xl font-bold">Remove Account</p>
                                            <div class="modal-close cursor-pointer z-50">
                                                <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                    viewBox="0 0 18 18">
                                                    <path
                                                        d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                                                    </path>
                                                </svg>
                                            </div>
                                        </div>
                                        <!--Body-->
                                        <hr class="bg-150 bg-gradient-to-tl from-gray-900 to-slate-800">
                                        <div class="py-4">
                                            <p>Are you sure you want to remove account?</p>
                                        </div>
                                        <hr class="bg-150 bg-gradient-to-tl from-gray-900 to-slate-800">
                                        <!--Footer-->
                                        <div class="flex justify-end pt-2">
                                            <div
                                                class="focus:outline-none modal-close px-4 p-2 mb-2 borders border-solid rounded-lg shadow-none cursor-pointer border-black text-black">
                                                <span>Cancel</span>

                                            </div>


                                            <label for="id_account_{{ linkedin_oauth2.id }}" class="focus:outline-none px-4 bg-150 bg-gradient-to-tl from-gray-900 to-slate-800 hover:shadow-soft-xs active:opacity-85 hover:scale-102 tracking-tight-soft bg-x-25 no-underline hover:no-underline p-2 ml-3 rounded-lg text-white mb-2">
                                                <input type="submit" name="account" id="id_account_{{ linkedin_oauth2.id }}"
                                                    value="{{ linkedin_oauth2.id }}" class="absolute h-0 w-0 appearance-none"/>

                                                    <span>Confirm</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                       <div class="card bg-gray-200 border-0 w-1/3 social-container">
                            <div class="relative">
                                <div class="provider-icon  mx-auto  relative -my-6 h-16 w-16">
                                    <img src="{% static '\assets\img\Social-Logos\google-business.png'%}" alt="Connect Facebook" title="Connect Linkedin" class=" bg-gray-200 object-cover border-2 rounded-full border-gray-200">
                                </div>
                                <div class="bg-white p-4 rounded-3xl shadow-lg">
                                    <br>
                                    <h4 class="text-md text-center mb-4 border-b-2 border-blue-300 pb-1">Google</h4>
                                    {% if google %}
                                    <div class="text-center text-blue-500 text-sm w-full flex item-center justify-between">
<!--                                        <a href="{% url 'social_profile' %}?provider_name={{google.provider}}" class="no-underline hover:no-underline ml-32">Connected</a>-->
                                        <a href="#" class="no-underline hover:no-underline ml-32">Connected</a>
                                         <i class="fa-solid self-end fa-trash-can sm:text-base text-gray-600 text-sm cursor-pointer modal-button"></i>
                                    </div>
                                    {% else %}
                                     <div class="text-center text-blue-500 text-sm">
                                        {% include "socialaccount/snippets/provider_list.html" with process="connect" provider=google_app.name|lower %}
                                     </div>
                                     {% endif %}
                                </div>
                            </div>
                           <div class="main-modal fixed w-full h-100 inset-0 z-50 overflow-hidden flex justify-center items-center animated fadeIn faster"
                                style="background: rgba(0,0,0,.7);display: none;">
                                <div
                                    class="border border-teal-500 shadow-lg modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
                                    <div class="modal-content py-2 text-left px-6">
                                        <!--Title-->
                                        <div class="flex justify-between items-center pb-3">
                                            <p class="text-2xl font-bold">Remove Account</p>
                                            <div class="modal-close cursor-pointer z-50">
                                                <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                    viewBox="0 0 18 18">
                                                    <path
                                                        d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                                                    </path>
                                                </svg>
                                            </div>
                                        </div>
                                        <!--Body-->
                                        <hr class="bg-150 bg-gradient-to-tl from-gray-900 to-slate-800">
                                        <div class="py-4">
                                            <p>Are you sure you want to remove account?</p>
                                        </div>
                                        <hr class="bg-150 bg-gradient-to-tl from-gray-900 to-slate-800">
                                        <!--Footer-->
                                        <div class="flex justify-end pt-2">
                                            <div
                                                class="focus:outline-none modal-close px-4 p-2 mb-2 borders border-solid rounded-lg shadow-none cursor-pointer border-black text-black">
                                                <span>Cancel</span>

                                            </div>


                                            <label for="id_account_{{ google.id }}" class="focus:outline-none px-4 bg-150 bg-gradient-to-tl from-gray-900 to-slate-800 hover:shadow-soft-xs active:opacity-85 hover:scale-102 tracking-tight-soft bg-x-25 no-underline hover:no-underline p-2 ml-3 rounded-lg text-white mb-2">
                                                <input type="submit" name="account" id="id_account_{{ google.id }}"
                                                    value="{{ google.id }}" class="absolute h-0 w-0 appearance-none"/>

                                                    <span>Confirm</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                           </div>
                       </div>
                </div>
            </fieldset>
        </form>
    </div>
    <dialog class="main-modal error fixed w-full h-100 inset-0 z-50 overflow-hidden hidden justify-center items-center animated fadeIn faster"
            style="background: rgba(0,0,0,.7);" id="error-modal">
            <div
                class="border border-teal-500 shadow-lg modal-container bg-white w-11/12 md:max-w-lg mx-auto rounded shadow-lg z-50 overflow-y-auto">
                <div class="modal-content py-2 text-left px-6">

                    <div class="flex items-center pb-3">
                        <p class="flex flex-1 justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="60" height="60" viewBox="0 0 50 50">
                                  <path d="M 25 2 C 12.309295 2 2 12.309295 2 25 C 2 37.690705 12.309295 48 25 48 C 37.690705 48 48 37.690705 48 25 C 48 12.309295 37.690705 2 25 2 z M 25 4 C 36.609824 4 46 13.390176 46 25 C 46 36.609824 36.609824 46 25 46 C 13.390176 46 4 36.609824 4 25 C 4 13.390176 13.390176 4 25 4 z M 25 11 A 3 3 0 0 0 22 14 A 3 3 0 0 0 25 17 A 3 3 0 0 0 28 14 A 3 3 0 0 0 25 11 z M 21 21 L 21 23 L 22 23 L 23 23 L 23 36 L 22 36 L 21 36 L 21 38 L 22 38 L 23 38 L 27 38 L 28 38 L 29 38 L 29 36 L 28 36 L 27 36 L 27 21 L 26 21 L 22 21 L 21 21 z"></path>
                            </svg>
                        </p>
                        <div class="modal-close cursor-pointer z-50" id="error-close_button">
                            <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                viewBox="0 0 18 18">
                                <path
                                    d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <!--Footer-->
                    <div class="flex justify-center py-2">
                        <p class="w-full text-center text-sm leading-6">
                            Please Connect Facebook to Continue posting on Instagram.
                            <br/>
                            Instagram Account Should Be Connected to Facebook Page
                            <br/>
                            Cannot access Instagram Profile detail right now.
                            <br/>
                            <span>For More Detail Visit. &nbsp;<a class="text-blue-800" href="https://developers.facebook.com/docs/instagram-api/overview#pages" target="_blank">here</a></span>
                        </p>


                    </div>
                </div>
            </div>
    </dialog>



</div>



</div>




<script>


    document.cookie = "last_visited=" + document.referrer;

    var error = "{{error}}"
    console.log(error);
    if(error !== ""){
            const myDialog = document.getElementById('error-modal');
            const closeDialogButton = document.getElementById('error-close_button');
            myDialog.classList.add('flex');
            myDialog.classList.remove('hidden');

            closeDialogButton.addEventListener('click',function(){
                myDialog.classList.add('hidden');
                myDialog.classList.remove('flex');

        })
    }



const modalClose = (modal) => {
    modal.classList.remove('fadeIn');
    modal.classList.add('fadeOut');

    modal.style.display = 'none';

}




const openModal = (modal) => {
    modal.classList.remove('fadeOut');
    modal.classList.add('fadeIn');
    modal.style.display = 'flex';
}


const socialcontainers = document.querySelectorAll('.social-container');

if (socialcontainers.length > 0){

        socialcontainers.forEach((div)=> {

        const modalbutton = div.querySelector('.modal-button');
        const modal = div.querySelector('.main-modal');
        const closeButton = div.querySelectorAll('.modal-close');
        
        try{
            modalbutton.onclick = (e) => openModal(modal);
        }catch(e){
            console.log(e)
        }

        for (let i = 0; i < closeButton.length; i++) {

            const elements = closeButton[i];

            try{
                elements.onclick = (e) => modalClose(modal);
            }catch(e){
                console.log(e)
            }

            modal.style.display = 'none';

            window.onclick = function (event) {
                if (event.target == modal) modalClose(modal);
            }
        }

    console.log(div)
    });


}





</script>
{% endblock %}