
{%extends 'registration/base.html'%}
{%load static%}
{%load humanize %}
{%block bar%}
{%endblock%}

{% block custom_css %}
<style>
    .container{
    font-family:Open sans;!important
}



</style>

{% endblock %}


{% block content %}


<div class="container mx-auto">
    <div class="tabs relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border">
        <br>
        <hr>
        <br>
        <div class="flex items-center justify-center relative">
            <ul class="col-span-3 flex grid grid-flow-col justify-center space-x-4">
                <li>
                    <a href="" data-platform="fb"
                       class="text-gray-500 hover:text-gray-700 font-medium bg-gray-100 hover:bg-gray-200 rounded-full px-4 py-2 bg-blue-100 shadow text-indigo-900"
                       id="fb">Facebook</a>
                </li>
                <li>
                    <a href=""  data-platform="ln"
                       class="text-gray-500 hover:text-gray-700 font-medium bg-gray-100 hover:bg-gray-200 px-4 py-2 rounded-full"
                       id="ln">Linkedin</a>
                </li>
                <li>
                    <a href="" data-platform="insta"
                       class="text-gray-500 hover:text-gray-700 font-medium bg-gray-100 hover:bg-gray-200 px-4 py-2 rounded-full"
                       id="insta">Instagram</a>
                </li>
                <li>
                    <a href="" data-platform="google"
                       class="text-gray-500 hover:text-gray-700 font-medium bg-gray-100 hover:bg-gray-200 px-4 py-2 rounded-full"
                       id="google">Google</a>
                </li>
            </ul>
            <div class="absolute right-0 flex justify-end pl-auto mr-3">
                <a class="px-3 py-2 text-xs font-bold text-center text-white uppercase align-middle transition-all bg-transparent rounded-lg cursor-pointer leading-pro  ease-soft-in shadow-soft-md bg-150 bg-gradient-to-tl from-gray-900 to-slate-800 hover:shadow-soft-xs active:opacity-85 hover:scale-102 tracking-tight-soft bg-x-25 no-underline hover:no-underline"
                   href="{% url 'create_post' %}">
                    <i class="fas fa-plus" aria-hidden="true"></i>
                    &nbsp;&nbsp;Create Post
                </a>
            </div>

        </div>
        <br>
        <hr>
        <br>

        <div class="tab-content">
            <div id="tab1" class="tab">
                <div class="flex-auto p-6 px-0 pb-2">
                    <div class="overflow-x-auto">
                        <table class="items-center w-full mb-0 align-top border-gray-200 text-slate-500">
                            <thead class="align-bottom">
                            <tr>
                                <th class="px-6 py-3 font-bold tracking-normal text-center uppercase align-middle bg-transparent border-b letter border-b-solid text-xxs whitespace-nowrap border-b-gray-200 text-slate-400 opacity-70">
                                    Created by
                                </th>
                                <th class="px-6 py-3 font-bold tracking-normal text-left uppercase align-middle bg-transparent border-b letter border-b-solid text-xxs whitespace-nowrap border-b-gray-200 text-slate-400 opacity-70">
                                    Post
                                </th>
                                <th class="px-6 py-3 pl-2 font-bold tracking-normal text-left uppercase align-middle bg-transparent border-b letter border-b-solid text-xxs whitespace-nowrap border-b-gray-200 text-slate-400 opacity-70">
                                    Images
                                </th>
                                <th class="px-6 py-3 font-bold tracking-normal text-center uppercase align-middle bg-transparent border-b letter border-b-solid text-xxs whitespace-nowrap border-b-gray-200 text-slate-400 opacity-70">
                                    Status
                                </th>

                                <th class="px-6 py-3 font-bold tracking-normal text-center uppercase align-middle bg-transparent border-b letter border-b-solid text-xxs whitespace-nowrap border-b-gray-200 text-slate-400 opacity-70">
                                    Created at
                                </th>
                                <th class="px-6 py-3 font-bold tracking-normal text-center uppercase align-middle bg-transparent border-b letter border-b-solid text-xxs whitespace-nowrap border-b-gray-200 text-slate-400 opacity-70">
                                    Published At
                                </th>
                                <th class="px-6 py-3 font-bold tracking-normal text-center uppercase align-middle bg-transparent border-b letter border-b-solid text-xxs whitespace-nowrap border-b-gray-200 text-slate-400 opacity-70">
                                    pages
                                </th>
                                <!--                                                        <th class="px-6 py-3 font-bold tracking-normal text-center uppercase align-middle bg-transparent border-b letter border-b-solid text-xxs whitespace-nowrap border-b-gray-200 text-slate-400 opacity-70">Details</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <form method="get">
                                <div class="flex items-center hidden">
                                    <input
                                        type="text" name="search" value="{{ search_query }}" placeholder="Search..." class="border rounded-l text-xs py-2 px-3 w-64"><button type="submit" class="px-3 py-2 text-xs font-bold text-center text-white uppercase align-middle transition-all bg-transparent rounded-lg cursor-pointer leading-pro  ease-soft-in shadow-soft-md bg-150 bg-gradient-to-tl from-gray-900 to-slate-800 hover:shadow-soft-xs active:opacity-85 hover:scale-102 tracking-tight-soft bg-x-25 no-underline hover:no-underline">
                                        Search</button>
                                </div>
                            </form>
                            {% for p in paginated %}
                            <tr>
                                <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                                    <div class="flex px-2 py-1">
                                        <div>
                                             {% if p.user.profile_image %}
                                            <img src="{{ p.user.profile_image.url }}"
                                                 class="inline-flex items-center justify-center mr-4 text-sm text-white transition-all duration-200 ease-soft-in-out h-9 w-9 rounded-xl"
                                                 alt="{{p.user}}">
                                            {% else %}
                                            <img src="
                                            {% static 'image/default.png' %}"
                                                 class="inline-flex items-center justify-center mr-4 text-sm text-white transition-all duration-200 ease-soft-in-out h-9 w-9 rounded-xl" alt="{{p.user}}">
                                            {% endif %}

                                        </div>
                                        <div class="flex flex-col justify-center">
                                            <h6 class="mb-0 text-sm leading-normal font-semibold">{{p.user|title}}</h6>
                                            <p class="mb-0 text-xs leading-tight text-slate-400 pt-1">
                                                {{p.user.email}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap">
                                    <div class="flex px-2 py-1">
                                        <div class="flex flex-col justify-center">

                                            <h6 class="mb-0 text-sm leading-normal">{{p.post|truncatewords:5}}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap">
                                    <div class="mt-2 avatar-group media-div">
                                        {% if p.images %}
                                        {% for image in p.images.all %}
                                        {% if image.is_mp4_file %}
                                        Video
                                        {% else %}
                                        <a href="javascript:;"
                                           class="photos relative z-20 inline-flex items-center justify-center w-8 h-8 text-white transition-all duration-200 border-2 border-white border-solid rounded-full ease-soft-in-out text-xs hover:z-30"
                                           data-target="tooltip_trigger" data-placement="bottom">
                                            <img src="{{image.image.url}}" class="w-full rounded-full" alt="team1"/>
                                        </a>
                                        <div data-target="tooltip"
                                             class="hidden px-2 py-1 text-white bg-black rounded-lg text-sm"
                                             role="tooltip">
                                            {{image.image}}
                                            <div class="invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-['']"
                                                 data-popper-arrow></div>
                                        </div>

                                        {% endif %}
                                        {% endfor %}
                                        {% endif %}

                                    </div>
                                </td>

                                {% if p.status == 'PROCESSING' %}
                                <td class="p-2 text-sm leading-normal text-center align-middle bg-transparent border-b whitespace-nowrap">
                                    <span class="bg-gradient-to-tl from-blue-700 to-gray-400 px-2.5 text-xs rounded-1.8 py-1.4 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white">{{p.status}}</span>

                                </td>
                                {% elif p.status == 'DRAFT' %}
                                <td class="p-2 text-sm leading-normal text-center align-middle bg-transparent border-b whitespace-nowrap">
                                    <span class="bg-gradient-to-tl from-red-700 to-yellow-400 px-2.5 text-xs rounded-1.8 py-1.4 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white">{{p.status}}</span>

                                </td>
                                {% elif p.status == 'SCHEDULED' %}
                                <td class="p-2 text-sm leading-normal text-center align-middle bg-transparent border-b whitespace-nowrap">
                                    <span class="bg-gradient-to-tl from-purple-700 to-blue-800 px-2.5 text-xs rounded-1.8 py-1.4 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white">{{p.status}}</span>

                                </td>
                                {% else %}
                                <td class="p-2 text-sm leading-normal text-center align-middle bg-transparent border-b whitespace-nowrap">
                                    <span class="bg-gradient-to-tl from-green-500 to-green-900 px-2.5 text-xs rounded-1.8 py-1.4 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white">{{p.status}}</span>

                                </td>
                                {% endif %}


                                <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                                    <div class="flex px-4 py-1">

                                        <div class="flex flex-col justify-center items-center w-full">

                                            <h6 class="mb-0 text-sm leading-normal">{{p.created_at|naturaltime}}</h6>

                                        </div>
                                    </div>
                                </td>

                                <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap justify-center">
                                    <div class="flex px-4 py-1">

                                        <div class="flex flex-col justify-center items-center w-full">
                                            {% if p.status == 'SCHEDULED' %}
                                            <h6 class="mb-0 text-sm leading-normal">{{p.schedule_datetime|naturaltime}}</h6>
                                            {% else %}
                                            <h6 class="mb-0 text-sm leading-normal">{{p.published_at|naturaltime}}</h6>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                                <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap justify-center">
                                    <div class="flex px-2 py-1">
                                        {% if p.status == 'PUBLISHED' %}
                                        <div class="flex flex-col justify-center">
                                            {% for page_name in p.post_urn.all %}
                                            {%if page_name.org.provider == 'facebook' %}
                                            <a href="{%url 'my_detail_posts' p.pk page_name.pk%}?page_name={{ page_name.org.provider }}">
                                                <h6 class="mb-0 text-sm font-bold leading-normal">{{page_name.org}}</h6>

                                            </a>
                                            {%endif%}
                                            {%endfor%}

                                        </div>
                                        {% elif p.status == 'DRAFT' %}
                                        <div class="flex flex-col justify-center">
                                            <a href="{%url 'post_draft' p.pk %}">
                                                <h6 class="bg-gradient-to-tl from-red-700 to-yellow-800 px-2.5 text-xs rounded-1.8 py-1.4 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white">PUBLISH THIS DRAFT</h6>
                                            </a>
                                        </div>
                                        {% else %}
                                        <div class="flex flex-col justify-center">
                                            {% for page_name in p.prepost_page.all %}
                                            {%if page_name.provider == 'facebook' %}
                                            <h6 class="mb-0 text-sm leading-normal">{{page_name.name}}</h6>
                                            {%endif%}
                                            {%endfor%}

                                        </div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="pagination flex items-center justify-between p-4">
                            <div >
                                {% if paginated.has_previous %}
                                    <a href="?platform={{platform}}&page=1" data-page="1" class="pagination-link mr-4" onclick="updatePage(event,'{{platform}}')">&laquo; First</a>
                                    <a href="?platform={{platform}}&page={{ paginated.previous_page_number }}" data-page="{{ paginated.previous_page_number }}" class="pagination-link mr-2" onclick="updatePage(event,'{{platform}}')">Previous</a>
                                {% endif %}
                            </div>

                            <span class="current-page">Page {{ paginated.number }} of {{ paginated.paginator.num_pages }}</span>

                            <div >
                                {% if paginated.has_next %}
                                    <a href="?platform={{platform}}&page={{ paginated.next_page_number }}"  data-page="{{ paginated.next_page_number }}" class="pagination-link ml-2" onclick="updatePage(event,'{{platform}}')">Next</a>
                                    <a href="?platform={{platform}}&page={{ paginated.paginator.num_pages }}" data-page="{{ paginated.paginator.num_pages }}" class="pagination-link ml-4" onclick="updatePage(event,'{{platform}}')">Last &raquo;</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="{% static 'customjs/images.js' %}"></script>
<script>

document.addEventListener("DOMContentLoaded", function() {

  const tabLinks = document.querySelectorAll(".text-gray-500.font-medium.py-2");
  const tabs = document.querySelectorAll(".tab");

  tabLinks.forEach(function(tabLink) {
    tabLink.addEventListener("click", function(e) {
      e.preventDefault();

      const targetTab = document.querySelector("#" + this.getAttribute("data-tab"));
      tabLinks.forEach(function(link) {

        link.classList.remove("bg-blue-100","shadow","text-indigo-900");
      });

      this.classList.add("bg-blue-100","rounded-full","shadow","text-indigo-900");

    });

  });
});

    function getCSRFToken() {
        const csrfTokenInput = document.querySelector('input[name=csrfmiddlewaretoken]');
        if (csrfTokenInput) {
            return csrfTokenInput.value;
        } else {
            return null;
        }
    }


function updatePage(event, platform) {
     // Prevent the default link behavior
    event.preventDefault();
    // Access the data-page attribute from the clicked element
    const page = event.target.dataset.page;

    const currentUrl = window.location.href;
    const url = new URL(currentUrl);

    url.searchParams.set('platform', platform);
    url.searchParams.set('page', page);

    window.location.href = url.toString();

    const pk = {{ user.pk }};
    const xhr = new XMLHttpRequest();
    xhr.open("GET", `/api_posts/?platform=${platform}&page=${page}`, true);

    xhr.onload = function () {
        if (xhr.status === 200) {
            const response = xhr.responseText;

            console.log(response)
        }
    };

    xhr.send();
}
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.querySelector('input[name="search"]');
        const searchForm = document.querySelector('form');
        const pk = {{ user.pk }};

        searchForm.addEventListener('submit', function(event) {
            event.preventDefault();
            const searchQuery = searchInput.value;
            console.log(searchQuery);
            const action = `/posts/${pk}?search=${searchQuery}`;
            // Update the form's action attribute and submit the form.
            searchForm.action = action;
            searchForm.submit();
        });

        searchInput.addEventListener('input', function() {
            // Automatically update the form's action attribute with the current input value.
            const searchQuery = searchInput.value;
            if (searchQuery != '') {
                 const action = `/posts/${pk}?search=${searchQuery}`;
                 searchForm.action = action;
            }else{
                const action = `/posts/${pk}`;
                searchForm.action = action;
                searchInput.value = '';
            }

        });
    });

    function createStatusTd(status) {



        const span = document.createElement('span');
        span.className = 'bg-gradient-to-tl px-2.5 text-xs rounded-1.8 py-1.4 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white';

        switch (status) {
            case 'PROCESSING':
                span.className += ' from-blue-700 to-gray-400';
                break;
            case 'DRAFT':
                span.className += ' from-red-700 to-yellow-400';
                break;
            case 'SCHEDULED':
                span.className += ' from-purple-700 to-blue-800';
                break;
            default:
                span.className += ' from-green-500 to-green-900';
                break;
        }

        span.textContent = status;

        return span;
    }
    function createImageTd(imagesData) {



        const divMediaGroup = document.createElement('div');
        divMediaGroup.className = 'mt-2 avatar-group media-div';

        if (imagesData) {
            imagesData.forEach(imageData => {
                const divInner = document.createElement('div');

                if (imageData.is_mp4_file) {
                    // If it's a video, add "Video" text
                    divInner.textContent = 'Video';
                } else {
                    const anchorLink = document.createElement('a');
                    anchorLink.href = 'javascript:;';
                    anchorLink.className = 'photos relative z-20 inline-flex items-center justify-center w-8 h-8 text-white transition-all duration-200 border-2 border-white border-solid rounded-full ease-soft-in-out text-xs hover:z-30';
                    anchorLink.dataset.target = 'tooltip_trigger';
                    anchorLink.dataset.placement = 'bottom';

                    const img = document.createElement('img');
                    img.src = imageData.image.url;
                    img.className = 'w-full rounded-full';
                    img.alt = 'team1';

                    const tooltipDiv = document.createElement('div');
                    tooltipDiv.dataset.target = 'tooltip';
                    tooltipDiv.className = 'hidden px-2 py-1 text-white bg-black rounded-lg text-sm';
                    tooltipDiv.setAttribute('role', 'tooltip');
                    tooltipDiv.textContent = imageData.image;

                    const arrowDiv = document.createElement('div');
                    arrowDiv.className = 'invisible absolute h-2 w-2 bg-inherit before:visible before:absolute before:h-2 before:w-2 before:rotate-45 before:bg-inherit before:content-[\'\']';
                    arrowDiv.setAttribute('data-popper-arrow', '');

                    anchorLink.appendChild(img);
                    tooltipDiv.appendChild(arrowDiv);
                    anchorLink.appendChild(tooltipDiv);
                    divInner.appendChild(anchorLink);
                }

                divMediaGroup.appendChild(divInner);
            });
        }

        return divMediaGroup;
    }

    const fb = document.getElementById("fb");
    fb.addEventListener("click", function () {

        const platform = 'fb';
        const pk = {{user.pk}};
        const page = 1;
        const currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set('page', '1');
        currentUrl.searchParams.set('platform', platform);
        window.history.replaceState({}, '', currentUrl.toString());

        PostData(platform,page)
    });
    function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

    function createProfileTd(userData) {

        const divFlex = document.createElement('div');
        divFlex.className = 'flex px-2 py-1';

        const divImage = document.createElement('div');
        const img = document.createElement('img');
        img.className = 'inline-flex items-center justify-center mr-4 text-sm text-white transition-all duration-200 ease-soft-in-out h-9 w-9 rounded-xl';
        img.alt = userData.username; // Replace with the appropriate user data field for alt text

        if (userData.profile_image) {
            img.src = userData.profile_image.url;
        } else {
            img.src = '{% static "image/default.png" %}';
        }

        divImage.appendChild(img);
        divFlex.appendChild(divImage);

        const divText = document.createElement('div');
        divText.className = 'flex flex-col justify-center';

        const h6 = document.createElement('h6');
        h6.className = 'mb-0 text-sm leading-normal font-semibold';
        h6.textContent = capitalizeFirstLetter(userData.username);

        const p = document.createElement('p');
        p.className = 'mb-0 text-xs leading-tight text-slate-400 pt-1';
        p.textContent = userData.email; // Replace with the appropriate user data field for the email

        divText.appendChild(h6);
        divText.appendChild(p);
        divFlex.appendChild(divText);
        return divFlex;
    }

    function convertTimestampToNaturalTime(createdTimestamp) {
        // Parse the timestamp string into a Date object
        const parsedTimestamp = new Date(createdTimestamp);

        // Get the current date
        const currentDate = new Date();

        // Calculate the time difference in milliseconds
        const timeDifference = currentDate - parsedTimestamp;

        // Define the time units in milliseconds
        const minute = 60 * 1000; // 1 minute
        const hour = 60 * minute; // 1 hour
        const day = 24 * hour; // 1 day
        const week = 7 * day; // 1 week
        const month = 30.44 * day; // Average days in a month
        const year = 365.25 * day; // Average days in a year

        // Calculate the time difference in a human-readable format
        let naturalTime;


    if (timeDifference < minute) {
        naturalTime = 'just now';
    } else if (timeDifference < hour) {
        const minutesAgo = Math.floor(timeDifference / minute);
        naturalTime = `${minutesAgo} minute${minutesAgo > 1 ? 's' : ''} ago`;
    } else if (timeDifference < day) {
        const hoursAgo = Math.floor(timeDifference / hour);
        naturalTime = `${hoursAgo} hour${hoursAgo > 1 ? 's' : ''} ago`;
    } else if (timeDifference < week) {
        const daysAgo = Math.floor(timeDifference / day);
        const hoursRemaining = Math.floor((timeDifference % day) / hour);
        if (daysAgo === 1) {
            naturalTime = '1 day ago';
        }else if (daysAgo <1 && daysAgo > 7 && hoursRemaining < 1){
            naturalTime = `${daysAgo} days ago`;
        }else {
            naturalTime = `${daysAgo} days, ${hoursRemaining} hours ago`;
        }
    } else if (timeDifference < month) {
        const weeksAgo = Math.floor(timeDifference / week);
        const daysRemaining = Math.floor((timeDifference % week) / day);
        if (weeksAgo === 1) {
            naturalTime = '1 week ago';
        }else if (weeksAgo < 4 && daysRemaining < 1){
            naturalTime = `${weeksAgo} weeks ago`;
        }else if (weeksAgo < 4) {
            naturalTime = `${weeksAgo} weeks, ${daysRemaining} hours ago`;
        } else {
            const monthsAgo = Math.floor(weeksAgo / (365.25 / 12));
            naturalTime = `${monthsAgo} month${monthsAgo > 1 ? 's' : ''} ago`;
        }
    } else if (timeDifference < year) {
        const monthsAgo = Math.floor(timeDifference / month);
        if (monthsAgo === 1) {
            naturalTime = '1 month ago';
        } else if (monthsAgo < 12) {
            naturalTime = `${monthsAgo} months ago`;
        } else {
            const yearsAgo = Math.floor(monthsAgo / 12);
            const remainingMonths = monthsAgo % 12;
            if (remainingMonths === 0) {
                naturalTime = `${yearsAgo} year${yearsAgo > 1 ? 's' : ''} ago`;
            } else {
                naturalTime = `${yearsAgo} year${yearsAgo > 1 ? 's' : ''} and ${remainingMonths} month${remainingMonths > 1 ? 's' : ''} ago`;
            }
        }
    } else {
        const yearsAgo = Math.floor(timeDifference / year);
        naturalTime = `${yearsAgo} year${yearsAgo > 1 ? 's' : ''} ago`;
    }

        return naturalTime;
    }

    function createCreatedAtTd(createdTimestamp) {

        const divFlex = document.createElement('div');
        divFlex.className = 'flex px-4 py-1';

        const divInner = document.createElement('div');
        divInner.className = 'flex flex-col justify-center items-center w-full';

        const h6 = document.createElement('h6');
        h6.className = 'mb-0 text-sm leading-normal';

        // Calculate natural time using a function (e.g., naturalTimeFunction)
        const naturalTime = convertTimestampToNaturalTime(createdTimestamp);

        h6.textContent = naturalTime; // Replace with your natural time calculation

        divInner.appendChild(h6);
        divFlex.appendChild(divInner);


        return divFlex;
    }

let nextButton = null;
let prevButton = null;
let firstButton = null;
let lastButton = null;


    async function PostData(platform,page) {
          try {
              const response = await fetch(`/api_posts/?page=${page}&platform=${platform}`);
              if (response.ok) {
                        const data = await response.json();
                        const responseHeaders = {
                            Link: response.headers.get('Link')

                            };
                        function parseLinkHeader(header) {
                            const links = {};
                            header.split(',').forEach(link => {
                                const parts = link.split(';');
                                const url = parts[0].trim().slice(1, -1); // Remove angle brackets
                                const rel = parts[1].trim().split('=')[1].slice(1, -1); // Remove quotes
                                links[rel] = url;
                            });
                            return links;
                        }
                        if (data.length > 0){

                            const paginationLinks = parseLinkHeader(responseHeaders.Link);
                            const nextPageUrl = paginationLinks.next;
                            const lastPageUrl = paginationLinks.last;
                            const prevPageUrl = paginationLinks.prev;
                            const firstPageUrl = paginationLinks.first;
                            const existingPaginationDiv = document.querySelector('.pagination');


                            while (existingPaginationDiv.firstChild) {
                                existingPaginationDiv.removeChild(existingPaginationDiv.firstChild);
                            }
                            const rightLinksContainer = document.createElement('div');
                            rightLinksContainer.classList.add('pagination','flex', 'items-center', 'justify-between', 'p-1');

                            let current_page = 1;
                            let total_page;
                            if(lastPageUrl) {
                                const url = lastPageUrl;
                                const urlParams = new URLSearchParams(url.split('?')[1]);
                                total_page = urlParams.get('page');

                            }else{
                                const url = prevPageUrl;
                                const urlParams = new URLSearchParams(url.split('?')[1]);
                                total_page = urlParams.get('page');
                                total_page =parseInt(total_page) +1;
                            }
                            if(nextPageUrl && prevPageUrl){
                                const url = prevPageUrl;
                                const urlParams = new URLSearchParams(url.split('?')[1]);
                                prev_page = urlParams.get('page');
                                if(prev_page == null){
                                    current_page = 2;
                                }
                            }
                            if (firstPageUrl) {

                                const firstLink = document.createElement('a');
                                firstLink.classList.add('mr-4');
                                const url = firstPageUrl;
                                const urlParams = new URLSearchParams(url.split('?')[1]);
                                let page = urlParams.get('page');
                                console.log(page);

                                firstLink.setAttribute('data-target',`${firstPageUrl}`);
                                firstLink.onclick=()=>handleClick(event);
                                const laquo = document.createTextNode('\u00AB '); // &laquo;
                                firstLink.appendChild(laquo);

                                firstLink.textContent += ' First';

                                firstLink.id = 'firstButton';
                                rightLinksContainer.appendChild(firstLink);
                                firstButton = firstLink;

                            }

                            if (prevPageUrl) {

                                const prevLink = document.createElement('a');
                                prevLink.classList.add('mr-2');
                                prevLink.a = prevPageUrl;

                                const url = prevPageUrl;
                                const urlParams = new URLSearchParams(url.split('?')[1]);
                                let page = urlParams.get('page');
                                console.log(page);


                                prevLink.textContent = 'Prev';
                                prevLink.setAttribute('data-target',`${prevPageUrl}`);
                                prevLink.onclick=()=>handleClick(event);
                                prevLink.id = 'prevButton';
                                rightLinksContainer.appendChild(prevLink);
                                prevButton = prevLink;

                                if (page == null){
                                    current_page = current_page;
                                }else{
                                    current_page = parseInt(page) + 1;
                                }

                            }

                            const currentPageSpan = document.createElement('span');
                            currentPageSpan.className = 'current-page';


                            currentPageSpan.textContent = `Page ${current_page} of ${total_page}`;


                            rightLinksContainer.appendChild(currentPageSpan);


                            if (nextPageUrl) {
                                // Create "Next" link
                                const nextLink = document.createElement('a');
                                nextLink.classList.add('ml-2');
                                const url = nextPageUrl;
                                const urlParams = new URLSearchParams(url.split('?')[1]);
                                let page = urlParams.get('page');
                                console.log(page);


                                nextLink.setAttribute('data-target',`${nextPageUrl}`);
                                nextLink.onclick=()=>handleClick(event);
                                nextLink.textContent = 'Next';
                                nextLink.id = 'nextButton';
                                rightLinksContainer.appendChild(nextLink);
                                nextButton = nextLink;

                                if (page == null){
                                    current_page = total_page;
                                }else{
                                    current_page = parseInt(page) - 1;
                                }

                            }

                            if (lastPageUrl) {
                                // Create "Last" link
                                const lastLink = document.createElement('a');
                                lastLink.classList.add('ml-4');

                                const url = lastPageUrl;
                                const urlParams = new URLSearchParams(url.split('?')[1]);
                                let page = urlParams.get('page');
                                console.log(page);


                                lastLink.setAttribute('data-target',`${lastPageUrl}`);
                                lastLink.onclick=()=>handleClick(event);
                                lastLink.textContent = 'Last ';
                                const raquo = document.createTextNode('\u00BB');
                                lastLink.appendChild(raquo);

                                lastLink.id = 'lastButton';
                                rightLinksContainer.appendChild(lastLink);
                                lastButton = lastLink;
                            }



                            // Append the rightLinksContainer to the existing pagination div
                            existingPaginationDiv.appendChild(rightLinksContainer);
                        }else{
                            const existingPaginationDiv = document.querySelector('.pagination');
                            while (existingPaginationDiv.firstChild) {
                                existingPaginationDiv.removeChild(existingPaginationDiv.firstChild);
                            }
                        }


                        const platformMappings = {
                            'fb': 'facebook',
                            'ln': 'linkedin',
                            'insta': 'instagram',
                            'google': 'google',
                        };

                        const platformcheck = platform;
                        const platformName = platformMappings[platformcheck];
                        const tableBody = document.querySelector('table tbody');


                        const tableRows = Array.from(tableBody.querySelectorAll('tr'));
                        tableRows.forEach((row, index) => {
                                tableBody.removeChild(row);
                        });

                        data.forEach(result=> {


                            const row = document.createElement('tr');

                            // Create table cells and set their content
                            const first_name = result.user['first_name']
                            const last_name = result.user['last_name']
                            const username = result.user['username']
                            const full_name = first_name + ' ' + last_name;
                            const email = result.user['email']
                            const profile_pic = result.user['profile_image']
                            const userData = {
                                username: result.user['username'],
                                email: result.user['email'],
                                name: first_name + ' ' + last_name,
                                profile_image: {
                                    url: result.user['profile_image']
                                }
                            };
                            const cell1 = document.createElement('td');
                            cell1.className = 'p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent';
                            const profileTd = createProfileTd(userData);
                            cell1.appendChild(profileTd);
                            const cell2 = document.createElement('td');
                            cell2.className = 'p-2 align-middle bg-transparent border-b whitespace-nowrap';
                            const div1 = document.createElement('div');
                            div1.className = 'flex px-2 py-1';
                            const div2 = document.createElement('div');
                            div2.className = 'flex flex-col justify-center';
                            const h6 = document.createElement('h6');
                            h6.className = 'mb-0 text-sm leading-normal';
                            h6.textContent = result.post;

                            // Append the elements together to build the structure
                            div2.appendChild(h6);
                            div1.appendChild(div2);
                            cell2.appendChild(div1);


                            const imagesData = [];

                            result.images.forEach(image => {
                                const imageUrl = image.image;

                                // Create an object for each image and push it to the imagesData array
                                imagesData.push({
                                    is_mp4_file: false, // Assuming it's not an mp4 file for now
                                    image: {
                                        url: imageUrl
                                    }
                                });
                            });
                            const cell3 = document.createElement('td');
                            cell3.className = 'p-2 align-middle bg-transparent border-b whitespace-nowrap';
                            const imageTd = createImageTd(imagesData);
                            cell3.appendChild(imageTd);

                            const p = { status: result.status };
                            const cell4 = document.createElement('td');
                            cell4.className = 'p-2 text-sm leading-normal text-center align-middle bg-transparent border-b whitespace-nowrap';
                            const statusTd = createStatusTd(p.status);
                            cell4.appendChild(statusTd);

                            const createdTimestamp = result.created_at;
                            const cell5 = document.createElement('td');
                            cell5.className = 'p-2 text-sm leading-normal text-center align-middle bg-transparent border-b whitespace-nowrap';
                            const createdAtTd = createCreatedAtTd(createdTimestamp);
                            cell5.appendChild(createdAtTd);

                            const publishedTimestamp = result.published_at;
                            const cell6 = document.createElement('td');
                            cell6.className = 'p-2 text-sm leading-normal text-center align-middle bg-transparent border-b whitespace-nowrap';

                            const publishedTd = createCreatedAtTd(publishedTimestamp);

                            cell6.appendChild(publishedTd);

                            share_page =[];
                            result.prepost_page.forEach(org => {
                                const name = org.name;
                                const org_id = org.org_id;
                                const provider = org.provider;
                                share_page.push({
                                    page: {
                                        name : name,
                                        org_id : org_id,
                                        provider : provider
                                    }
                                });
                            });
                            post_urn =[];
                            result.post_urn.forEach(urn => {
                                const id = urn.id;
                                const org_provider = urn.org.provider;
                                const name = urn.org.name;
                                post_urn.push({
                                    page: {
                                        pk : id,
                                        org_provider : org_provider,
                                        name : name,
                                    }
                                });
                            });
                            const post_pk = result.id;

                            const cell7 = document.createElement('td');
                            cell7.className = 'p-2 text-sm leading-normal text-center align-middle bg-transparent border-b whitespace-nowrap justify-center';

                            const divFlex = document.createElement('div');
                            divFlex.className = 'flex px-2 py-1';

                            const divInner = document.createElement('div');
                            divInner.className = 'flex flex-col justify-center';

                            // Example: Create an <a> element for 'PUBLISHED' status with a link
                            if (p.status === 'PUBLISHED') {
                                const a = document.createElement('a');
                                post_urn.forEach(urnData => {
                                    const urn = urnData.page;
                                    const pk = urn.pk;
                                    const provider = urn.org_provider;
                                    const name = urn.name;
                                    const url = window.location.protocol + "//" + window.location.host + "/posts/detail/" + post_pk + "/" + pk + "?page_name=" + provider;
                                    if (provider === platformName) {
                                        const a = document.createElement('a');
                                        a.href = url;
                                        const h6 = document.createElement('h6');
                                        h6.className = 'mb-0 text-sm font-bold leading-normal';
                                        h6.textContent = name;
                                        a.appendChild(h6);
                                        divInner.appendChild(a);
                                    }
                                });
                            }
                            // Example: Create an <a> element for 'DRAFT' status with a link
                            else if (p.status === 'DRAFT') {
                                const a = document.createElement('a');
                                const url2 = window.location.protocol + "//" + window.location.host + "/post_draft/" + post_pk;
                                a.href = url2;
                                const h6 = document.createElement('h6');
                                h6.className = 'bg-gradient-to-tl from-red-700 to-yellow-800 px-2.5 text-xs rounded-1.8 py-1.4 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white';
                                h6.textContent = 'PUBLISH THIS DRAFT';
                                a.appendChild(h6);
                                divInner.appendChild(a);
                            }

                            else {
                                const h6 = document.createElement('h6');
                                share_page.forEach(pageData => {
                                    const page = pageData.page;
                                    const name = page.name;
                                    const org_id = page.org_id;
                                    const provider = page.provider;
                                    h6.className = 'mb-0 text-sm leading-normal';
                                    if(provider === platformName){
                                        h6.textContent = name;
                                        divInner.appendChild(h6);
                                    }
                                });
                            }
                            divFlex.appendChild(divInner);

                            cell7.appendChild(divFlex);



                            // Append table cells to the row
                            row.appendChild(cell1);
                            row.appendChild(cell2);
                            row.appendChild(cell3);
                            row.appendChild(cell4);
                            row.appendChild(cell5);
                            row.appendChild(cell6);
                            row.appendChild(cell7);

                            // Append the row to the table body
                            tableBody.appendChild(row);
                        });

              } else {
                  console.error(`Failed to fetch data. Status code: ${response.status}`);
              }
          } catch (error) {
              console.error('An error occurred:', error);
          }
    }


    const ln = document.getElementById("ln");
    ln.addEventListener("click", function () {
        const platform = 'ln';
        const pk = {{user.pk}};
        const page = 1;
        const currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set('page', '1');
        currentUrl.searchParams.set('platform', platform);
        window.history.replaceState({}, '', currentUrl.toString());

        PostData(platform,page)


    });
    const insta = document.getElementById("insta");
    insta.addEventListener("click", function () {


        const platform = 'insta';
        const pk = {{user.pk}};
        const page = 1;
        const currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set('page', '1');
        currentUrl.searchParams.set('platform', platform);
        window.history.replaceState({}, '', currentUrl.toString());


        PostData(platform,page)
    });
    const google = document.getElementById("google");
    google.addEventListener("click", function () {
        console.log('google');
        const platform = 'google';
        const pk = {{user.pk}};
        const page = 1;

        const currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set('page', '1');
        currentUrl.searchParams.set('platform', platform);
        window.history.replaceState({}, '', currentUrl.toString());

        PostData(platform,page)
    });




    function handleClick(event) {
      const data = event.target;
      const data_target = data.getAttribute('data-target');
      const url = data_target;



        const urlParams = new URLSearchParams(url.split('?')[1]);


        let page = urlParams.get('page');
        if (page === null){
            page = 1 ;
        }
        const platform = urlParams.get('platform');

        PostData(platform,page);


    }

    function setDefaultQueryParams() {
      const platform= 'fb';
      const page= '1';
      const currentUrl = new URL(window.location.href);
      currentUrl.searchParams.set('platform', platform);
      currentUrl.searchParams.set('page', '1');
      window.history.replaceState({}, '', currentUrl.toString());
   }


    document.addEventListener('DOMContentLoaded', setDefaultQueryParams);


</script>

{% endblock %}
