{%extends 'registration/base.html'%}
{%load static%}
{%load humanize%}


{% block content %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<style>
  figure {

    text-align: left;
  }
  figcaption {
    font-size: 14px;
    color: gray;
    margin-top: 5px;
    padding-left: 20px;
  }
  .carousel-container {
      height: 400px; /* Set the desired height for the carousel container */
  }









</style>
<!-- This is an example component -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
<!--    <div class="editor mx-auto  flex flex-col text-gray-800 border border-gray-300 p-4 shadow-lg max-w-3xl">-->
<!--        <div class="bg-white overflow-hidden align-center shadow-none">-->
<!--            <div class="  pl-4">-->
<!--                <header class="border-b border-grey-400">-->
<!--                    <a href="#"-->
<!--                       class="block cursor-pointer py-4 flex items-center text-sm outline-none focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out">-->
<!--                        <img src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"-->
<!--                             class="h-9 w-9 rounded-full object-cover"-->
<!--                             alt="user"/>-->
<!--                        <p class="block ml-2 font-bold">{{posted_on}}</p>-->
<!--                    </a>-->
<!--                    &lt;!&ndash;                <span class="block ml-4 text-xs text-gray-600">5 minutes ago</span>&ndash;&gt;-->

<!--                </header>-->
<!--            </div>-->
<!--            <div class="grid grid-cols-2 min-w-full">-->
<!--                <div>-->
<!--                    <figure>-->
<!--                        <figcaption>{{post.post}}</figcaption>-->
<!--                    </figure>-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="col-span-2 w-full">-->
<!--                    <div id="carouselExampleIndicators" class="carousel slide " data-interval="false">-->
<!--                        <ol class="carousel-indicators">-->
<!--                            {% for image in post.images.all %}-->
<!--                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"-->
<!--                                {% if forloop.first %}class="active" {% endif %}></li>-->
<!--                            {% endfor %}-->
<!--                        </ol>-->
<!--                        <div class="carousel-inner ">-->
<!--                            &lt;!&ndash; Loop through the images and create carousel items &ndash;&gt;-->
<!--                            {% for image in post.images.all %}-->
<!--                            {% if image.is_mp4_file %}-->
<!--                            <div class="carousel-item {% if forloop.first %}active{% endif %}">-->
<!--                                <video playsinline="playsinline" width="1400"  height="400"-->
<!--                                       muted="muted" loop="loop"  class="video h-74" controls>-->
<!--                                    <source src="{{ image.image.url }}" type="video/mp4">-->
<!--                                    Your browser does not support the video tag.-->
<!--                                </video>-->
<!--                            </div>-->
<!--                            {% else %}-->
<!--                            <div class="carousel-item {% if forloop.first %}active{% endif %}">-->
<!--                                <img src="{{ image.image.url }}" class="image h-74 w-100" alt="Image">-->
<!--                            </div>-->
<!--                            {% endif %}-->
<!--                            {% endfor %}-->
<!--                        </div>-->
<!--                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"-->
<!--                           data-slide="prev">-->
<!--                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                            <span class="sr-only">Previous</span>-->
<!--                        </a>-->
<!--                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"-->
<!--                           data-slide="next">-->
<!--                            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                            <span class="sr-only">Next</span>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-span-2 w-full">-->
<!--                    <div class="  pl-10">-->
<!--                        <div class="pt-4">-->
<!--                            <div class="mb-2">-->
<!--                                <div class="flex items-center">-->
<!--                                    <span class="mr-3 inline-flex items-center cursor-pointer">-->
<!--                                        <svg class="fill-heart text-gray-700 inline-block h-7 w-7 heart"-->
<!--                                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"-->
<!--                                             stroke="currentColor">-->
<!--                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
<!--                                                  d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>-->
<!--                                        </svg>-->
<!--                                    </span>-->
<!--                                    <span class="mr-3 inline-flex items-center cursor-pointer">-->
<!--                                        <svg class="text-gray-700 inline-block h-7 w-7 " xmlns="http://www.w3.org/2000/svg"-->
<!--                                             fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
<!--                                                  d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"/>-->
<!--                                        </svg>-->
<!--                                    </span>-->
<!--                                </div>-->
<!--                                <span class="text-gray-600 text-sm font-bold">{{no_likes}} Likes</span>-->
<!--                                <br>-->
<!--                                {% if post.comment_check %}-->
<!--                                <span class="text-gray-600 text-sm font-bold">{{no_comments}} Comments</span>-->
<!--                                {% else %}-->
<!--                                <span class="text-gray-600 text-sm font-bold">0 Comments</span>-->
<!--                                {% endif %}-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        {% if post.comment_check %}-->
<!--                        {% for d in data %}-->
<!--                        <input type="hidden" name="comment_urn" value="{{ d.comment_urn }}">-->
<!--                        <div class="p-4 border border-gray-300 rounded-lg mb-4 bg-gray-100">-->
<!--                            <div class="flex items-start mb-2">-->
<!--                                <img class="h-12 w-12 rounded-full object-cover"-->
<!--                                     {% if d.profile_image %}-->
<!--                                     src="{{d.profile_image}}"-->
<!--                                     {% else %}-->
<!--                                     src="https://images.pexels.com/photos/1450082/pexels-photo-1450082.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"-->
<!--                                     {% endif %}-->
<!--                                     alt="{{ d.name }}" />-->
<!--                                <div class="ml-2">-->
<!--                                    <p class="font-bold">{{ d.name }}:</p>-->
<!--                                    <p class="text-gray-700">{{ d.text }}</p>-->
<!--                                    {% if d.urls %}-->
<!--                                        <div class="mt-2">-->
<!--                                            {% for img in d.urls %}-->
<!--                                                <img src="{{ img }}" alt="Image">-->
<!--                                            {% endfor %}-->
<!--                                        </div>-->
<!--                                    {% endif %}-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            {% if d.replies %}-->
<!--                                <div class="pl-8">-->
<!--                                    {% for reply in d.replies %}-->
<!--                                        <div class="flex items-start mb-2">-->
<!--                                            {% if reply.profile_image %}-->
<!--                                                <img class="h-10 w-10 rounded-full object-cover"-->
<!--                                                     src="{{ reply.profile_image }}"-->
<!--                                                     alt="{{ reply.name }}" />-->
<!--                                            {% endif %}-->
<!--                                            {% if reply.name %}-->
<!--                                            <div class="ml-2">-->
<!--                                                <p class="font-bold">{{ reply.name }}:</p>-->
<!--                                                <p class="text-gray-700">{{ reply.text }}</p>-->
<!--                                                {% endif %}-->
<!--                                                {% if reply.urls %}-->
<!--                                                    <div class="mt-2">-->
<!--                                                        {% for url in reply.urls %}-->
<!--                                                            <img src="{{ url }}" alt="Image">-->
<!--                                                        {% endfor %}-->
<!--                                                    </div>-->
<!--                                                {% endif %}-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    {% endfor %}-->
<!--                                </div>-->
<!--                            {% endif %}-->
<!--                            <div class="mt-2">-->
<!--                                <div class="flex items-start">-->
<!--                                    <div class="relative">-->
<!--                                        <textarea class="w-full resize-none outline-none appearance-none"-->
<!--                                              aria-label="Agrega un comentario..."-->
<!--                                              placeholder="Write a reply"-->
<!--                                              autocomplete="off" autocorrect="off"-->
<!--                                              style="height: 36px;width: 300px;"-->
<!--                                              name="reply"></textarea>-->
<!--                                        {% if provider_name == 'facebook' %}-->
<!--                                        <div class="absolute right-5 top-1">-->
<!--                                            <label for="file-upload-reply" class="file-upload-label">-->
<!--                                                <i class="fa-solid fa-paperclip"></i>-->
<!--                                            </label>-->
<!--                                            <input type="file" name="reply_media_{{ reply_media_counter |add:'1' }}" id="file-upload-reply" class="file-upload hidden">-->

<!--                                        </div>-->
<!--                                        {% endif %}-->
<!--                                    </div>-->

<!--                                    <button class="ml-2 px-2 py-1 text-gray-600 border rounded-lg focus:outline-none">-->
<!--                                        Post Reply-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        {% endfor %}-->
<!--                        <div class="mt-2">-->
<!--                            <div class="flex items-start">-->
<!--                                    <textarea class="w-full resize-none outline-none appearance-none"-->
<!--                                              aria-label="Agrega un comentario..." placeholder="write a comment"-->
<!--                                              autocomplete="off" autocorrect="off" style="height: 36px;width: 300px;"-->
<!--                                              name="comment"></textarea>-->
<!--                                    {% if provider_name == 'facebook' %}-->
<!--                                        <div>-->
<!--                                            <label for="file-upload" class="file-upload-label">-->
<!--                                                <i class="fa-solid fa-paperclip"></i>-->
<!--                                            </label>-->
<!--                                            <input type="file" name="comment_media" id="file-upload" class="file-upload hidden">-->
<!--                                        </div>-->
<!--                                    {% endif %}-->
<!--                                <button class="ml-2 px-2 py-1 bg-blue-500 text-white rounded-lg focus:outline-none">-->
<!--                                    Post Comment-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        {% else %}-->
<!--                        <p>Comments are disabled for this post.</p>-->
<!--                        {% endif %}-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="w-1/2 mx-auto bg-white shadow-md rounded-lg p-8">
                <div class="pl-4">
                    <header class="border-b border-grey-400">
                        <a href="#"
                           class="block cursor-pointer py-4 flex items-center text-sm outline-none focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out">
                            <img src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
                                 class="h-9 w-9 rounded-full object-cover"
                                 alt="user"/>
                            <span class="block ml-2 font-bold text-black ">{{ posted_on }}</span>
                            <span class="block text-xs text-gray-600 ml-auto">{{ post.created_at }}</span>
                        </a>
                    </header>
                </div>
                <div>
                    <figure>
                        <figcaption>{{post.post}}</figcaption>
                    </figure>
                </div>
                <br>
                <div class="col-span-2 w-full">
                    <div id="carouselExampleIndicators" class="carousel slide " data-interval="false">
                        <ol class="carousel-indicators">
                            {% for image in post.images.all %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"
                                {% if forloop.first %}class="active" {% endif %}></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner ">
                            <!-- Loop through the images and create carousel items -->
                            {% for image in post.images.all %}
                            {% if image.is_mp4_file %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <video playsinline="playsinline" width="1400"  height="400"
                                       muted="muted" loop="loop"  class="video h-74" controls>
                                    <source src="{{ image.image.url }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            {% else %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ image.image.url }}" class="image h-74 w-100" alt="Image">
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <br>
                <!-- Likes and Comment Count -->
                <div class="flex justify-between items-center text-gray-600 mb-2">
                    <div class="flex items-center">
                        <svg class="fill-heart text-gray-700 inline-block h-5 w-5 heart"
                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
                        </svg>
                        <span class="text-gray-600 text-sm font-bold ml-1"> {{ no_likes }} Likes</span>
                    </div>

                    <div class="flex items-center">
                        <span class="mr-3 inline-flex items-center cursor-pointer">
                            <svg class="text-gray-700 inline-block h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                 fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"/>
                            </svg>
                        </span>

                        {% if post.comment_check %}
                        <span class="text-gray-600 text-sm font-bold">{{ no_comments }} Comments</span>
                        {% else %}
                        <span class="text-gray-600 text-sm font-bold">0</span>
                        {% endif %}
                    </div>
                </div>
                <br>
                {% if user_role == 'ADMIN' or user_role == 'MANAGER' and permission == 'WRITE' %}

                <!-- New Comment Card -->
                <div class="w-full border rounded-lg p-3 mb-4">
                    <textarea class="w-full border rounded-lg bg-gray-100 p-2" name="comment" placeholder="Write a comment..."></textarea>
<!--                    {% if provider_name == 'facebook' %}-->
<!--                        <div>-->
<!--                            <label for="file-upload" class="file-upload-label">-->
<!--                                <i class="fa-solid fa-paperclip"></i>-->
<!--                            </label>-->
<!--                            <input type="file" name="comment_media" id="file-upload" class="file-upload hidden">-->
<!--                        </div>-->
<!--                    {% endif %}-->
                    <button class="mt-2 px-4 py-2 text-xs text-white ease-soft-in shadow-soft-md bg-150 bg-gradient-to-tl from-gray-900 to-slate-800 hover:shadow-soft-xs active:opacity-85 hover:scale-102 tracking-tight-soft bg-x-25 no-underline hover:no-underline rounded mr-2">Post Comment</button>
                </div>
                {% elif post.user == request.user %}
                <div class="w-full border rounded-lg p-3 mb-4">
                    <textarea class="w-full border rounded-lg bg-gray-100 p-2" name="comment" placeholder="Write a comment..."></textarea>
<!--                    {% if provider_name == 'facebook' %}-->
<!--                        <div>-->
<!--                            <label for="file-upload" class="file-upload-label">-->
<!--                                <i class="fa-solid fa-paperclip"></i>-->
<!--                            </label>-->
<!--                            <input type="file" name="comment_media" id="file-upload" class="file-upload hidden">-->
<!--                        </div>-->
<!--                    {% endif %}-->
                    <button class="mt-2 px-4 py-2 text-xs text-white ease-soft-in shadow-soft-md bg-150 bg-gradient-to-tl from-gray-900 to-slate-800 hover:shadow-soft-xs active:opacity-85 hover:scale-102 tracking-tight-soft bg-x-25 no-underline hover:no-underline rounded mr-2">Post Comment</button>
                </div>
                {% endif %}

                    {% if post.comment_check %}

                        {% for comment in data %}
                        <input type="hidden" name="comment_urn" value="{{ comment.comment_urn }}">
                        <div class="w-full  rounded-lg p-3">
                            <div class="flex items-start bg-gray-50 space-x-4">
                                <!-- Profile Pic -->
                                <img class="h-10 w-10 rounded-full object-cover" src="{{ comment.profile_image }}" alt="{{ comment.name }}" />

                                <!-- Comment Card -->
                                <div class="w-full border rounded-lg p-3">
                                    <!-- Comment content -->
                                    <p class="font-bold">{{ comment.name }}:</p>
                                    <p class="text-gray-700">{{ comment.text }}</p>


                                    <div class="mt-4 space-y-4">
                                        {% if comment.replies|length > 0 %}
                                        {% for reply in comment.replies %}
                                        <div class="flex items-start space-x-4 bg-gray-100">
                                            {% if reply.profile_image %}
                                            <img class="h-10 w-10 rounded-full object-cover" src="{{ reply.profile_image }}" alt="" />
                                            {% endif %}
                                            {% if reply.text %}
                                            <div class=" rounded-lg p-3">
                                                <!-- Reply content -->
                                                <p class="font-bold">{{ reply.name }}:</p>
                                                <p class="text-gray-700">{{ reply.text }}</p>
                                            </div>
                                            {% endif %}

                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                    {% if user_role == 'ADMIN' or user_role == 'MANAGER' and permission == 'WRITE' %}
                                    <!-- Reply Text Area -->
                                    <div class="mt-4">
                                        <textarea class="w-full border rounded-lg p-2" name="reply" placeholder="Write a reply..."></textarea>
<!--                                        {% if provider_name == 'facebook' %}-->
<!--                                        <div>-->
<!--                                            <label for="file-upload" class="file-upload-label">-->
<!--                                                <i class="fa-solid fa-paperclip"></i>-->
<!--                                            </label>-->
<!--                                            <input type="file" name="reply_media_{{ reply_media_counter |add:'1' }}" id="file-upload-reply" class="file-upload hidden">-->
<!--                                        </div>-->
<!--                                        {% endif %}-->
                                        <button class="px-3 py-1 text-xs text-white ease-soft-in shadow-soft-md bg-150 bg-gradient-to-tl from-gray-900 to-slate-800 hover:shadow-soft-xs active:opacity-85 hover:scale-102 tracking-tight-soft bg-x-25 no-underline hover:no-underline rounded mr-2">Reply</button>
                                    </div>
                                    {% elif post.user == request.user %}}
                                    <div class="mt-4">
                                        <textarea class="w-full border rounded-lg p-2" name="reply" placeholder="Write a reply..."></textarea>
<!--                                        {% if provider_name == 'facebook' %}-->
<!--                                        <div>-->
<!--                                            <label for="file-upload" class="file-upload-label">-->
<!--                                                <i class="fa-solid fa-paperclip"></i>-->
<!--                                            </label>-->
<!--                                            <input type="file" name="reply_media_{{ reply_media_counter |add:'1' }}" id="file-upload-reply" class="file-upload hidden">-->
<!--                                        </div>-->
<!--                                        {% endif %}-->
                                        <button class="px-3 py-1 text-xs text-white ease-soft-in shadow-soft-md bg-150 bg-gradient-to-tl from-gray-900 to-slate-800 hover:shadow-soft-xs active:opacity-85 hover:scale-102 tracking-tight-soft bg-x-25 no-underline hover:no-underline rounded mr-2">Reply</button>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <br>
                        {% endfor %}

                    {% else %}-->
                    <p>Comments are disabled for this post.</p>
                    {% endif %}


</div>

</form>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
    // Manually initialize the carousel
    const myCarousel = new bootstrap.Carousel(document.getElementById('carouselExampleIndicators'), {
        interval: false, // Set to false to disable autoplay
        pause: 'hover',  // Pause on hover (optional, if desired)
    });

    // Play video when the carousel slide is shown
    myCarousel._element.addEventListener('slide.bs.carousel', (event) => {
        const activeSlide = event.relatedTarget;
        const videoElement = activeSlide.querySelector('video');
        if (videoElement) {
            videoElement.play();
        }
    });
</script>
{%endblock%}