{%extends 'registration/base.html'%}
{%load static%}
{% block custom_css %}

{% endblock %}


{% block content %}

<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<style>
  body {background:white !important;}
  .pt-5{
    padding-top:1.25rem !important;
  }
  .py-3{
        padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
  }
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: red;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    transform: translatey(50%);
    opacity: 0;
    transition: opacity 0.3s;
  }

  .dropdownButton:hover .tooltiptext{
      visibility: visible;
      opacity: 1;

  }

  .disabled{
        cursor: not-allowed;
        pointer-events: none;
        position: relative;
   }

  .disabled::before{
    content: "";
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white overlay */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }

  .error-border{
    border:1px solid red !important;

}
  .custom-bg-gradient-insta {
        background: linear-gradient(90deg, hsla(281, 37%, 45%, 1) 0%, hsla(1, 62%, 48%, 1) 100%) !important;
  }

  .custom-bg-gradient-ln {
      background:#0077c0 !important;
  }

  .custom-bg-gradient-fb {
      background: #00428c !important;

  }


</style>

  <div class="editor mx-auto w-10/12 flex flex-col text-gray-800 border border-gray-300 p-4 shadow-lg max-w-2xl">

    <form method="post" enctype="multipart/form-data" class="w-100" id="yourForm" onsubmit="return validateForm()">
        {% csrf_token %}
<div class=" relative mb-2">
      <a class="absolute top-0 right-2 text-lg text-black cursor-pointer hover:no-underline no-underline hover:text-black" href="{% url 'my_posts' user.pk %}"><i class="fa-solid fa-xmark"></i></a>
</div>
        <br>

        <div class="absolute top-0 right-0 mt-10 ml-10 mb-2 z-100" style="z-index:200;" id="errorMessageContainer">
        {% for message in messages %}
            <div class="alert flex items-center bg-blue-500 text-white sm:text-sm text-xs font-bold px-4 py-3 mb-2 message ease-out duration-300 opacity-0.5" role="alert">
                <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z"/>
                </svg>
                <p>{{ message }}</p>
                <svg class="cross fill-current text-gray-400 text-end m-1 cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                  <path
                  d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                  </path>
                </svg>
            </div>
        {% endfor %}
      </div>

      <!--    No page Selected error -->
    <div class="alert flex items-center bg-blue-500 text-white sm:text-sm text-xs font-bold px-4 py-3 mb-2 ease-out duration-300 opacity-0.5 hidden pageError" role="alert" >
          <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z"/>
          </svg>
          <p>Please select at least one page.</p>
          <svg class="cross fill-current text-gray-400 text-end m-1 cursor-pointer" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
            <path
            d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
            </path>
          </svg>
    </div>
    <input type="hidden" value="{{post.id}}" id="Postid">

      <div class="emoji-picker-container">
      <textarea name="post" cols="40" rows="10" data-emojiable="true" class="description bg-gray-100 sec p-3 h-60 border border-gray-300 outline-none w-full"  id="id_post">{{post.post}}</textarea>
        </div>
        <div class="icons flex text-gray-500 m-2" >
        <div class="count ml-auto text-gray-400 text-xs font-semibold">0/300</div>
        </div>
        {% if form.name.errors %}
        <div class="error-message">{{ form.post.errors }}</div>
        {% endif %}

         <div class="flex items-center justify-center w-full" >
            <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-36 border-dashed border-2 border-gray-200 bg-white-100 rounded-lg cursor-pointer dark:hover:bg-bray-800 dark:bg-white-700 hover:bg-gray-100 hover:border-gray-400">
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                    <br>
                    <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                    </svg>
                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                    <p class="text-xs text-gray-500 dark:text-gray-400">MP4, PNG and JPG (MAX. 800x400px)</p>
                </div>
                <input id="dropzone-file" name="images" type="file" class="hidden" multiple="multiple" onchange="previewImages(event)" accept="image/png,image/jpeg,image/jpg,video/mp4"/>
                <br>
                <p id="error-message" style="color: red; display: none;">File is too large. Max size of each file: 20MB</p>
            </label>
        </div>
        <br>
        <div id="image-preview-container" class="flex flex-wrap"></div>
        <div id="saved-image-preview-container" class="flex flex-wrap"></div>

    <br>
   <div class="flex items-center justify-center relative" id="pageSelection">
            <ul class="col-span-3 flex grid grid-flow-col justify-center space-x-4">
                <li class="relative">
                    <a id="facebook" class="dropdownButton cursor-pointer custom-bg-gradient-fb text-white  font-small px-3 py-2 rounded-xl flex items-center shadow-xl" id="fb">
                        <div class="mr-2 animate-spin">
                            <img src="{% static '\assets\img\Social-Logos\facebook_logo.png'%}" alt="Connect Facebook" title="Connect Facebook" class="h-6 w-6 bg-gray-100 rounded-full border-1 border-gray-800">
                        </div>
                        <div class="mr-2 hidden">
                            <img src="{% static '\assets\img\Social-Logos\facebook_logo.png'%}" alt="Connect Facebook" title="Connect Facebook" class="h-6 w-6 bg-gray-100 rounded-full border-1 border-gray-800">
                        </div>

                        Facebook
                    </a>
                </li>
                <li class="relative">
                    <a  id="linkedin"  class="dropdownButton cursor-pointer custom-bg-gradient-ln text-white font-small px-3 py-2 rounded-xl flex items-center" id="ln">
                        <div class="mr-2 animate-spin">
                            <img src="{% static '\assets\img\Social-Logos\linkedin_logo.png'%}" alt="Connect Linkedin" title="Connect Linkedin" class="h-6 w-6 bg-gray-800 rounded-full border-2 border-gray-100">
                        </div>
                        <div class="mr-2 hidden">
                            <img src="{% static '\assets\img\Social-Logos\linkedin_logo.png'%}" alt="Connect Linkedin" title="Connect Linkedin" class="h-6 w-6 bg-gray-800 rounded-full border-2 border-gray-100">
                        </div>
                        Linkedin
                    </a>
                </li>
                <li class="relative">
                    <a  id="instagram" class="dropdownButton cursor-pointer custom-bg-gradient-insta text-white font-small px-3 py-2 rounded-xl flex items-center" id="insta">
                        <div class="mr-2 animate-spin">
                            <img src="{% static 'assets/img/Social-Logos/instagram_logo.png' %}" alt="Connect Instagram" title="Connect Instagram" class="h-6 w-6 bg-gray-800 rounded-full border-2 border-gray-100">
                        </div>
                        <div class="mr-2 hidden">
                            <img src="{% static 'assets/img/Social-Logos/instagram_logo.png' %}" alt="Connect Instagram" title="Connect Instagram" class="h-6 w-6 bg-gray-800 rounded-full border-2 border-gray-100">
                        </div>
                        Instagram
                    </a>
                </li>
                <li class="relative">
                    <a  class="dropdownButton bg-blue-500 cursor-pointer text-white flex font-small px-3 py-2 flex items-center rounded-xl"
                       id="google">

                            <div class="mr-2 animate-spin">
                                <img src="{% static '\assets\img\Social-Logos\google-business.png'%}" alt="Google Business Icon" title="Google Business" class="h-6 w-6 bg-gray-800 border-2 rounded-full border-gray-100">
                            </div>
                            <div class="mr-2 hidden">
                                <img src="{% static '\assets\img\Social-Logos\google-business.png'%}" alt="Google Business Icon" title="Google Business" class="h-6 w-6 bg-gray-800 border-2 rounded-full border-gray-100">
                            </div>
                           Google
                    </a>
                </li>
            </ul>
    </div>
        <input type="hidden" name="checkbox_selected" id="checkboxSelected" />

        <br/>
        <br/>
        <br>

        <div class="-mx-3 flex flex-col items-end flex-wrap" id="date-div">
          <div class="w-56 px-3">
            <div class="mb-3">
              <label for="date" class="mb-2 pl-1 block text-base text-[#07074D]">
                Schedule Date :
              </label>
              <input
                type="date"
                name="date"
                id="date"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-2 px-4 text-base text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                onchange="validateDate(event)"/>

            </div>
          </div>
          <div class="w-56 px-3">
            <div class="mb-3">
              <label for="time" class="mb-2 pl-1 block text-base text-[#07074D]">
                Schedule Time :
              </label>
              <input
                type="time"
                name="time"
                id="time"
                class="w-full rounded-md border border-[#e0e0e0] bg-white py-2 px-4 text-base text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
              onchange="validateTime(event)"/>
            </div>
          </div>
        </div>

        <li class="relative block px-0 py-1 bg-white border-0 rounded-t-lg text-inherit">
                <div class="min-h-6 mb-0.5 block pl-0">
                  <input id="follow" name="comment_check" class="mt-0.54 rounded-10 duration-250 ease-soft-in-out after:rounded-circle after:shadow-soft-2xl after:duration-250 checked:after:translate-x-5.25 h-5 relative float-left ml-auto w-10 cursor-pointer appearance-none border border-solid border-gray-200 bg-slate-800/10 bg-none bg-contain bg-left bg-no-repeat align-top transition-all after:absolute after:top-px after:h-4 after:w-4 after:translate-x-px after:bg-white after:content-[''] checked:border-slate-800/95 checked:bg-slate-800/95 checked:bg-none checked:bg-right" type="checkbox" {% if comment_check %}checked{% endif %}>
                    <label for="follow" class="w-4/5 mb-0 ml-4 overflow-hidden font-normal cursor-pointer select-none text-sm text-ellipsis whitespace-nowrap text-slate-500" for="follow">Allow Comments</label>
                </div>
        </li>


        <div class="w-full flex items-center mt-1">
      <!--            <label class="mr-4 font-bold">Schedule</label>-->

      <div class="ml-auto flex">
        <div
          class="inline-block px-6 py-3 font-bold text-center text-white uppercase align-middle transition-all bg-transparent cursor-pointer leading-pro text-sm  rounded-l-xl ease-soft-in shadow-soft-md bg-150 bg-gradient-to-tl from-gray-900 to-slate-800 hover:shadow-soft-xs active:opacity-85 hover:scale-102 tracking-tight-soft bg-x-25"
        >
          <input type="hidden" id="publishInput" name="action" value="" />
          <button class="" id="publishButton" type="submit">Publish Now</button>
        </div>

        <div
          class="flex items-center justify-center px-12 py-3 mr-3 font-bold text-center text-center text-white uppercase align-middle transition-all bg-transparent rounded-r-xl cursor-pointer leading-pro text-sm ease-soft-in shadow-soft-md bg-150 bg-gradient-to-tl from-gray-900 to-slate-800 hover:shadow-soft-xs active:opacity-85 hover:scale-102 tracking-tight-soft bg-x-25"
        >
          <button id="scheduleBtn" class="w-full h-full">Schedule</button>
        </div>
      </div>
    </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script src="{% static 'lib/js/config.min.js'%}"></script>
<script src="{% static 'lib/js/util.min.js'%}"></script>
<script src="{% static 'lib/js/jquery.emojiarea.min.js'%}"></script>
<script src="{% static 'lib/js/emoji-picker.min.js'%}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>




<script>
{% verbatim %}

        $(function() {
          // Initializes and creates emoji set from sprite sheet
          window.emojiPicker = new EmojiPicker({
            emojiable_selector: '[data-emojiable=true]',
            assetsPath: '../../static/lib/img/',
            popupButtonClasses: 'fa fa-smile-o' // far fa-smile if you're using FontAwesome 5
          });
          // Finds all elements with `emojiable_selector` and converts them to rich emoji input fields
          // You may want to delay this step if you have dynamically created input fields that appear later in the loading process
          // It can be called as many times as necessary; previously converted input fields will not be converted again
          window.emojiPicker.discover();
        });
            {% endverbatim %}



    const sehedule_controller = document.querySelectorAll(".Scheduling-contoller");
    sehedule_controller.forEach((button) => {
      button.addEventListener('click', () => {
        // Remove active class from all buttons
        sehedule_controller.forEach((btn) => {
          btn.classList.remove("bg-gray-400");
          const checkbox = btn.children[0];
          checkbox.checked = false;
        });

        // Toggle active class on clicked button
        const checkbox = button.children[0];
        button.classList.add("bg-gray-400");
        checkbox.checked = true;
      });
    });



    function validateDate(event){
        const today = new Date();
        const year = today.getFullYear();
        const month = (today.getMonth() + 1).toString().padStart(2, '0');
        const day = today.getDate().toString().padStart(2, '0');
        const minDate = `${year}-${month}-${day}`;
        const value = event.target.value;
        console.log(value);
        const timePicker = document.getElementById("time");
        const default_time = timePicker.value;

          const currentTime = new Date();
          const currentHour = currentTime.getHours();
          const currentMinute = currentTime.getMinutes();
          const enteredTime = default_time.split(":");
          const enteredHour = parseInt(enteredTime[0], 10);
          const enteredMinute = parseInt(enteredTime[1], 10);



        if(value === "" || value < minDate ){
            event.target.value = minDate;
        }else if ((value === minDate) && (currentHour > enteredHour || (currentHour === enteredHour && currentMinute > enteredMinute))){
            timePicker.classList.add('error-border');
            scheduleBtn.parentElement.classList.add('disabled');
            scheduleBtn.parentElement.classList.add('cursor-not-allowed');
            scheduleBtn.disable = true;
        }else{
        timePicker.classList.remove('error-border');
        scheduleBtn.parentElement.classList.remove('disabled');
        scheduleBtn.parentElement.classList.remove('cursor-not-allowed');
        scheduleBtn.disable = true;

      }
    }

    function validateTime(event){
      const currentTime = new Date();
      const currentHour = currentTime.getHours();
      const currentMinute = currentTime.getMinutes();
      const enteredTime = event.target.value.split(":");
      const enteredHour = parseInt(enteredTime[0], 10);
      const enteredMinute = parseInt(enteredTime[1], 10);

      const today = new Date();
      const year = today.getFullYear();
      const month = (today.getMonth() + 1).toString().padStart(2, '0');
      const day = today.getDate().toString().padStart(2, '0');
      const minDate = `${year}-${month}-${day}`;

      const datePicker = document.getElementById("date");

      const selectedDate = datePicker.value;
      console.log(selectedDate);
      console.log(enteredHour);

      const scheduleBtn = document.getElementById('scheduleBtn');
      if ((selectedDate === minDate) && (currentHour > enteredHour || (currentHour === enteredHour && currentMinute > enteredMinute))) {

        event.target.classList.add('error-border');

        scheduleBtn.parentElement.classList.add('disabled');
        scheduleBtn.parentElement.classList.add('cursor-not-allowed');
        scheduleBtn.disable = true;
      }else{
        event.target.classList.remove('error-border');
        scheduleBtn.parentElement.classList.remove('disabled');
        scheduleBtn.parentElement.classList.remove('cursor-not-allowed');
        scheduleBtn.disable = true;

      }


    }

  function showDiv() {

    const myDiv = document.getElementById("date-div");
    myDiv.classList.remove("hidden");
  }

  function hideDiv() {
    const myDiv = document.getElementById("date-div");
    myDiv.classList.add("hidden");
  }

    var selectedFiles = [];

    function updateFileList(fileInput) {
        // Create a new FileList based on the selectedFiles array
        var newFileList = new DataTransfer();

        for (var i = 0; i < selectedFiles.length; i++) {
            newFileList.items.add(selectedFiles[i]);
        }

        // Assign the new FileList to your input element
        fileInput.files = newFileList.files;
    }
     var imageData = [
    {% for image in post.images.all %}
        "{{ image.image.url }},{{image.id}}",
    {% endfor %}
  ];


        var imageDataLength = imageData.length


       function deleteObject(pk,callback) {
       const csrfToken = getCookie('csrftoken');

        $.ajax({
            type: 'DELETE',
            url: `/delete-image/${pk}/`,
            beforeSend: function(xhr) {
                // Set the CSRF token in the request header
                xhr.setRequestHeader('X-CSRFToken', csrfToken);
            },
            success: function(response) {
    <!--            alert(response.message);  // Display the success message returned from the server-->

                 imageDataLength  = imageDataLength - 1;
                if (typeof callback === 'function') {
                    callback(imageDataLength );
                }
            },
            error: function(xhr, status, error) {
    <!--            alert('Error deleting object: ' + xhr.responseText);-->
            }

        });
    }


      function previewImages(event) {
          var files = event.target.files;
          const errorMessage = document.getElementById('error-message');
          errorMessage.style.display = 'none';
          var container = document.getElementById("image-preview-container");

          selectedFiles = [];
          while (container.firstChild) {
                container.removeChild(container.firstChild);
          }


          const maxFileSizeBytes = maxFileSizeMB * 1024 * 1024;
          const fileInput = event.target;

          var maxFileSizeMB = 20;

          errorMessage.style.display = 'none';

          for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var fileSizeMB = file.size / (1024 * 1024); // Convert bytes to MB

                if (fileSizeMB > maxFileSizeMB) {
                    errorMessage.style.display = "block";
                    event.target.value = "";

                    setTimeout(function () {
                      errorMessage.style.display = "none";
                      }, 4000);
                    return false;
                }
          }

            var maxFileCount = 9; // Set the maximum number of files allowed


            var files = event.target.files;
            var length = files.length + imageDataLength;

            // Check if the number of selected files exceeds the maximum limit
            if (length > maxFileCount) {
                    const errorMessage = document.getElementById("error-message");
                    errorMessage.textContent = "Can't Upload more than 9 files";
                    errorMessage.style.display = "block";
                    event.target.value = "";

                    setTimeout(function () {
                      errorMessage.style.display = "none";
                      }, 4000);
                    return false;
            }


          // Display the uploaded images
          for (var i = 0; i < files.length; i++) {
            var file = files[i];
            var reader = new FileReader();

            reader.onload = (function (file) {
                return function (e) {
                    var imageContainer = document.createElement("div");
                    imageContainer.classList.add("relative", "z-20", "inline-flex", "items-center", "justify-center", "w-32", "h-32", "text-white","border-2", "border-white", "border-solid");

                    if (e.target.result.slice(0, 15).includes("mp4")) {
                        var video = document.createElement("video");
                        video.classList.add("w-full", "h-full" ,"object-cover");

                        var source = document.createElement("source");
                        source.src = e.target.result;

                        var removeIcon = document.createElement("span");
                        removeIcon.innerHTML = "&times;";
                        removeIcon.classList.add("badge","absolute", "top-0", "right-0", "badge-danger", "badge-pill", "cursor-pointer");

                        removeIcon.addEventListener("click", function () {
                            imageContainer.remove();

                            var fileIndex = selectedFiles.indexOf(file);
                            if (fileIndex !== -1) {
                                selectedFiles.splice(fileIndex, 1);

                                updateFileList(fileInput);
                            }
                        });

                        video.appendChild(source);
                        imageContainer.appendChild(video);
                        imageContainer.appendChild(removeIcon);
                        container.appendChild(imageContainer);
                    } else {
                        var image = document.createElement("img");
                        image.src = e.target.result;
                        image.classList.add("w-full", "h-full" ,"object-cover");

                        var removeIcon = document.createElement("span");
                        removeIcon.innerHTML = "&times;";
                        removeIcon.classList.add("badge","absolute", "top-0", "right-0", "badge-danger", "badge-pill", "cursor-pointer");

                        removeIcon.addEventListener("click", function () {
                            imageContainer.remove();
                            // Remove the file from the selectedFiles array
                            var fileIndex = selectedFiles.indexOf(file);
                            if (fileIndex !== -1) {
                                selectedFiles.splice(fileIndex, 1);
                                // Update the FileList
                                updateFileList(fileInput);
                            }
                        });

                        imageContainer.appendChild(image);
                        imageContainer.appendChild(removeIcon);
                        container.appendChild(imageContainer);
                    }

                    // Add the file to the selectedFiles array
                    selectedFiles.push(file);
                };
            })(file);

            reader.readAsDataURL(file);
          }
      }


  function validateForm() {
        const postTextarea = document.getElementById("id_post");
        const fileInput = document.getElementById("dropzone-file");

        if (postTextarea.value.trim() === "" && fileInput.files.length === 0 && imageDataLength  === 0) {

            const errorMessage = document.getElementById("error-message");
            errorMessage.textContent = "Can't Post with caption and file both empty";
            errorMessage.style.display = "block";
            setTimeout(function () {
              errorMessage.style.display = "none";
              }, 4000);
            return false;

        }else{
            return true;

        }
  }


function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Check if the cookie name matches the CSRF token name (default name: 'csrftoken')
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    // Function to display the images in the container
    function displaySavedImages() {
        var container = document.getElementById("saved-image-preview-container");

        // Loop through the image URLs and create image elements

        imageData.forEach(function (imageUrl) {
            var imageContainer = document.createElement("div");
            imageContainer.classList.add("relative", "z-20", "inline-flex", "items-center", "justify-center", "w-32", "h-32", "text-white","border-2", "border-white", "border-solid");



            const url = imageUrl.split(',')[0];
            const extension = ".mp4";
            if(url.endsWith(extension)){
                        var video = document.createElement("video");
                        video.classList.add("w-full", "h-full" ,"object-cover");

                        var source = document.createElement("source");
                        source.src = imageUrl.split(',')[0];

                        var removeIcon = document.createElement("span");
                        removeIcon.innerHTML = "&times;";
                        removeIcon.classList.add("absolute", "top-0", "right-0", "text-red-500", "cursor-pointer");

                        removeIcon.addEventListener("click", function () {
                            deleteObject(id, function(imageDataLength ) {


                            });
                            imageContainer.remove();
                        });

                        video.appendChild(source);
                        imageContainer.appendChild(video);
                        imageContainer.appendChild(removeIcon);
                        container.appendChild(imageContainer);

            }else{
                var image = document.createElement("img");

                image.src = imageUrl.split(',')[0];
                image.classList.add("w-full", "h-full" ,"object-cover");

                var removeIcon = document.createElement("span");
                removeIcon.innerHTML = "&times;";
                removeIcon.classList.add("badge","absolute", "top-0", "right-0", "badge-danger", "badge-pill", "cursor-pointer");
                var id=imageUrl.split(',')[1];


            removeIcon.addEventListener("click", function () {
                deleteObject(id, function(imageDataLength ) {


                });
                imageContainer.remove();
            })

            imageContainer.appendChild(image);
            imageContainer.appendChild(removeIcon);
            container.appendChild(imageContainer);
        }
        });
    }
    document.addEventListener("DOMContentLoaded", function () {
        displaySavedImages();
    });


    document.addEventListener("DOMContentLoaded", function() {

    const today = new Date();
    const year = today.getFullYear();
    const month = (today.getMonth() + 1).toString().padStart(2, '0');
    const day = today.getDate().toString().padStart(2, '0');
    const minDate = `${year}-${month}-${day}`;


    const datePicker = document.getElementById("date");
    datePicker.min = minDate;

    var publishButton = document.getElementById("publishButton");
    var scheduleButton = document.getElementById("scheduleBtn");
    var publishInput = document.getElementById("publishInput");

    publishButton.addEventListener("click", function() {

    publishInput.value = "publish";
    saved_images.value = length;

    });
    scheduleButton.addEventListener("click", function() {

    publishInput.value = "schedule";
    });
    });

    document.addEventListener("DOMContentLoaded", function () {
    // Get the schedule button element
    const scheduleBtn = document.getElementById("scheduleBtn");


    // Function to show the date-time picker when the button is clicked

    scheduleBtn.addEventListener("click", function (event) {
        const date = document.getElementById('date').value;
        const time = document.getElementById('time').value;
        const alertBox = document.getElementById("errorMessageContainer");
        const alertContent = document.querySelector(".pageError");
        const dublicateAlertContent = alertContent.cloneNode(true);
        dublicateAlertContent.classList.remove('pageError')
        dublicateAlertContent.classList.remove('hidden');
        dublicateAlertContent.classList.add('message');

        const crossButton = dublicateAlertContent.querySelector(".cross");

        crossButton.addEventListener('click',function(){
            dublicateAlertContent.style.display = "none";
        })



      if (date === "" && time === "") {
        event.preventDefault();

        dublicateAlertContent.querySelector("p").innerText = "Please Select Date and Time";
        alertBox.appendChild(dublicateAlertContent);
        setTimeout(function () {
            alertBox.removeChild(dublicateAlertContent);
        }, 3000);
      } else if (date === "") {
          event.preventDefault();

          dublicateAlertContent.querySelector("p").innerText = "Please Select Date";
          alertBox.appendChild(dublicateAlertContent);
          setTimeout(function () {
              alertBox.removeChild(dublicateAlertContent);
          }, 3000);
      } else if (time === "") {
          event.preventDefault();

          dublicateAlertContent.querySelector("p").innerText = "Please Select Time";
          alertBox.appendChild(dublicateAlertContent);
          setTimeout(function () {
              alertBox.removeChild(dublicateAlertContent);
          }, 3000);
      }
      console.log("sumbiting");

  });

      PagesData();


    });


    document.getElementById("yourForm").addEventListener("submit", function(event) {
        const pageCheckboxes = document.querySelectorAll("#pageSelection input[type=checkbox]");
        let atLeastOneSelected = false;

        // Check if at least one checkbox is selected
        for (const checkbox of pageCheckboxes) {
            if (checkbox.checked) {
                atLeastOneSelected = true;
                break;
            }
        }

         if (!atLeastOneSelected) {
            event.preventDefault(); // Prevent form submission

            const alertBox = document.getElementById("errorMessageContainer");
            const alertContent = document.querySelector(".pageError");
            const dublicateAlertContent = alertContent.cloneNode(true);
            dublicateAlertContent.classList.remove('pageError')
            dublicateAlertContent.classList.remove('hidden');
            dublicateAlertContent.classList.add('message');

            const crossButton = dublicateAlertContent.querySelector(".cross");

            crossButton.addEventListener('click',function(){
                dublicateAlertContent.style.display = "none";
            })


            alertBox.appendChild(dublicateAlertContent);

            setTimeout(function() {
                alertBox.removeChild(dublicateAlertContent);
            }, 3000); // Remove the alert after 3 seconds
        }
    });



      function createDropdown(pages,platformButton,orgIds){
          const loader = platformButton.getElementsByClassName('animate-spin')[0];
          const platformIcon = loader.nextElementSibling;



          loader.classList.add('hidden');
          platformIcon.classList.remove('hidden');

          if(pages.length === 0){
            platformButton.disabled = true;
            platformButton.classList.add('relative')
            const tooltip = document.createElement('div');
            tooltip.classList.add('tooltiptext','text-xs');
            tooltip.textContent = "No Page Connected/Check Account";
            tooltip.style.position = 'absolute';
            tooltip.style.top = '20%';
            tooltip.style.left = '0';
            tooltip.style.width = '100%';
            platformButton.appendChild(tooltip);
          }
          else{
              const dropdownlist = document.createElement('div');
              dropdownlist.classList.add('absolute','right-0','mt-1','w-45','bg-white','rounded-md','shadow-lg','z-10','hidden','dropdownMenu')

              for(var i=0;i<pages.length;i++){
                const pageId = pages[i].id;
                const pageName = pages[i].name;

                var label = document.createElement('label');
                label.classList.add('flex', 'items-center' ,'cursor-pointer', 'block', 'px-2', 'py-2','text-sm','text-gray-700' ,'hover:bg-gray-100');
                const checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.classList.add('form-checkbox','h-4', 'w-4', 'text-blue-500' ,'transition' ,'duration-150' ,'ease-in-out');
                checkbox.name = platformButton.id;
                checkbox.value = pageId;

                if(orgIds.includes(pageId)){
                   checkbox.checked = true;

                }

                label.appendChild(checkbox);
                var span = document.createElement('span');
                span.classList.add('ml-2','text-sm' ,'text-gray-700');
                span.textContent = pageName;

                label.appendChild(span);

                dropdownlist.appendChild(label)
              }

              platformButton.parentNode.insertBefore(dropdownlist,platformButton.nextSibling)

              platformButton.addEventListener('click',()=>{
                dropdownlist.classList.toggle('hidden');
              })

              document.body.addEventListener('click',(event)=>{
              if(!platformButton.contains(event.target) && !dropdownlist.contains(event.target)&&event.target !== dropdownlist){
                dropdownlist.classList.add('hidden')
              }
           })

          }

      }


      async function PagesData() {
       const PostIdInput = document.getElementById('Postid');
       let post_id = PostIdInput.value;

      try {
          const response = await fetch(`/social/page/?pk=${post_id}`);
          if (response.ok) {
              const data = await response.json();

              if((Object.keys(data).length === 1 && data['posts']) || Object.keys(data).length === 0){
                     var publishButton = document.getElementById("publishButton");
                     var scheduleButton = document.getElementById("scheduleBtn");

                      publishButton.disabled = true;
                      scheduleButton.disabled = true;

                      publishButton.parentElement.classList.remove('hover:scale-102');
                      publishButton.parentElement.classList.add('disabled');
                      scheduleButton.parentElement.classList.remove('hover:scale-102');
                      scheduleButton.parentElement.classList.add('disabled');

              }

              const dropdownButtons = document.getElementsByClassName('dropdownButton');
              const ordIds = data.posts;
              for(button in dropdownButtons){
                  var buttonId = dropdownButtons[button].id
                  createDropdown(data[buttonId],dropdownButtons[button],ordIds);
              }


          } else {
<!--              console.error(`Failed to fetch data. Status code: ${response.status}`);-->
          }
      } catch (error) {
<!--          console.error('An error occurred:', error);-->
      }
      }

        const alertbox = document.querySelectorAll(".alert");

        if (alertbox.length > 0){
            alertbox.forEach( div => {
                const crossbutton = div.querySelector(".cross");

                crossbutton.addEventListener('click',function(){
                    div.style.display = "none";
                })
            });
        }

        function removeMessages() {
        setTimeout(function() {
            const messages = document.querySelectorAll('.message'); // Replace with your message selector
            messages.forEach(function(message) {
                message.remove();
            });
        }, 5000); // 5000 milliseconds (5 seconds)
    }


    var status = '{{ post.status }}';
    if (status === 'SCHEDULED'){
        const dateInput = document.getElementById('date');
        const timeInput = document.getElementById('time');



        var time = '{{ post.schedule_datetime|date:"D M d Y" }} ,{{ post.schedule_datetime|time:"H:i" }}';

        var userTimezone = 'UTC' ;
        console.log(userTimezone);

        const utcDateTime = new Date(time + ' ' + userTimezone);

        const date = utcDateTime.toDateString();
        const scheduleTime = utcDateTime.toLocaleTimeString();





        if (time) {

            var scheduledDate = date;
            var scheduledTime = scheduleTime;
            console.log(scheduledTime)
            var user_timezone = '{{user_timezone}}';


            var dateTimeParts = scheduledDate.split(' ');
            console.log(dateTimeParts);
            var datePart = dateTimeParts[2]; // Extract date "18"
            var monthPart = dateTimeParts[1]; // Extract month "Oct"
            var yearPart = dateTimeParts[3]; // Extract year "2023"
            var timePart = scheduledTime;
            var monthMap = {
                'Jan': '01',
                'Feb': '02',
                'Mar': '03',
                'Apr': '04',
                'May': '05',
                'Jun': '06',
                'Jul': '07',
                'Aug': '08',
                'Sep': '09',
                'Oct': '10',
                'Nov': '11',
                'Dec': '12',
            };
            var monthNumber = monthMap[monthPart];


            var formattedDate = yearPart + '-' + monthNumber + '-' + datePart;
            console.log(formattedDate);

            // Use a regular expression to extract the time components
            var match = /(\d{1,2}):(\d{2}):(\d{2})\s?([APap][Mm])\.?$/.exec(scheduledTime);
            let time24Hour;
            if (match) {
                console.log(match);
                var hours = parseInt(match[1]);
                var minutes = match[2];
                var seconds = match[3];
                var period = match[4].toLowerCase();

                // Convert to 24-hour format
                if (period === 'pm' && hours < 12) {
                    hours += 12;
                } else if (period === 'am' && hours === 12) {
                    hours = 0;
                }

                // Ensure the hours and minutes are in two-digit format
                hours = hours.toString().padStart(2, '0');
                minutes = minutes.padStart(2, '0');




                time24Hour = `${String(hours).padStart(2, '0')}:${minutes}:${seconds}`;

            }


            dateInput.value = formattedDate;
            timeInput.value = time24Hour;


            } else {
                console.log("Invalid time format.");
            }





    }
// Call the function when the page loads
window.addEventListener('load', removeMessages);



</script>
<style>
  .alert-box {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
</style>



{% endblock %}
